{% import 'corpora/_analysis/query_builder/_expert_mode.html.j2' as expert_mode with context %}
{% import 'corpora/_analysis/query_builder/_query_builder.html.j2' as query_builder with context %}


{# The extension icon #}
{% set icon = 'list_alt' %}

{# The extension name #}
{% set name = 'Concordance' %}

{# The extension description #}
{% set description = 'Query your corpus with the CQP query language utilizing a KWIC view.' %}


{# The extension container content #}
{% macro container_content() %}
<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="col s2">
        <span class="card-title">Query <i class="material-icons left" style="font-size: inherit;">search</i></span>
      </div>
      <div class="col s1">
        <div class="switch" style="margin-top:8px; margin-left:0px;">
          <label>
            <input type="checkbox" id="corpus-analysis-concordance-expert-mode-switch">
            <span class="lever"></span>
            expert mode
          </label>
        </div>
      </div>
    </div>
    <div id="corpus-analysis-concordance-expert-mode-display" class="hide">
      {{ expert_mode.card_content() }}
    </div>
    <div id="corpus-analysis-concordance-query-builder-display">
      {{ query_builder.card_content() }}
    </div>
  </div>
</div>

<div id="corpus-analysis-concordance-subcorpus-list"></div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Results</span>
    <p></p>
    <br>
    <div class="progress hide" id="corpus-analysis-concordance-progress">
      <div class="indeterminate"></div>
    </div>
    <form id="corpus-analysis-concordance-user-interface-form">
      <div class="row">
        <div class="col s12 m9 l9">
          <div class="row">
            <div class="input-field col s4 l3">
              <i class="material-icons prefix">short_text</i>
              <select class="corpus-analysis-action" name="context">
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
              </select>
              <label>Context</label>
            </div>
            <div class="input-field col s4 l3">
              <i class="material-icons prefix">format_list_numbered</i>
              <select class="corpus-analysis-action" name="per-page">
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
              </select>
              <label>Matches per page</label>
            </div>
            <div class="input-field col s4 l3">
              <i class="material-icons prefix">format_shapes</i>
              <select name="text-style">
                <option value="0">Plain text</option>
                <option value="1" selected>Highlight entities</option>
                <option value="2">Token text</option>
              </select>
              <label>Text style</label>
            </div>
            <div class="input-field col s4 l3">
              <i class="material-icons prefix">format_quote</i>
              <select name="token-representation">
                <option value="lemma">lemma</option>
                <option value="pos">pos</option>
                <option value="simple_pos">simple_pos</option>
                <option value="word" selected>word</option>
              </select>
              <label>Token representation</label>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col s9"><p class="hide" id="corpus-analysis-concordance-subcorpus-info"></p></div>
      <div class="col s3 right-align" id="corpus-analysis-concordance-subcorpus-actions"></div>
    </div>
    <table class="highlight">
      <thead>
        <tr>
          <th style="width: 2%;"></th>
          <th style="width: 8%;">Source</th>
          <th class="right-align" style="width: 22.5%;">Left context</th>
          <th class="center-align" style="width: 40%;">KWIC</th>
          <th class="left-align" style="width: 22.5%;">Right Context</th>
          <th class="left-align" style="width: 5%;"></th>
        </tr>
      </thead>
      <tbody id="corpus-analysis-concordance-subcorpus-items"></tbody>
    </table>
    <ul class="pagination hide" id="corpus-analysis-concordance-subcorpus-pagination"></ul>
  </div>
</div>
{% endmacro %}

{# The extension modals #}
{% macro modals() %}
{{ query_builder.structural_attribute_modal() }}
{{ query_builder.positional_attribute_modal() }}
{% endmacro %}

{# The extension scripts #}
{% macro scripts() %}
<script>
  const corpusAnalysisConcordance = new nopaque.corpus_analysis.ConcordanceExtension(corpusAnalysisApp);
  const concordanceQueryBuilder = new nopaque.corpus_analysis.query_builder.QueryBuilder();
</script>
{% endmacro %}
