{# The extension icon #}
{% set icon = 'chrome_reader_mode' %}

{# The extension name #}
{% set name = 'Reader' %}

{# The extension description #}
{% set description = 'Inspect your corpus in detail with a full text view, including annotations.' %}


{# The extension container content #}
{% macro container_content() %}
<div class="card">
  <div class="card-content">
    <form id="corpus-analysis-reader-user-interface-form">
      <div class="row">
        <div class="col s12 m9 l10">
          <div class="row">
            <div class="input-field col s4 m3">
              <i class="material-icons prefix">format_list_numbered</i>
              <select class="corpus-analysis-action" name="per-page">
                <option value="500" selected>500</option>
                <option value="1000">1000</option>
                <option value="1500">1500</option>
              </select>
              <label>Tokens per page</label>
            </div>
            <div class="input-field col s4 m3">
              <i class="material-icons prefix">format_shapes</i>
              <select name="text-style">
                <option value="0">Plain text</option>
                <option value="1" selected>Highlight entities</option>
                <option value="2">Token text</option>
              </select>
              <label>Text style</label>
            </div>
            <div class="input-field col s4 m3">
              <i class="material-icons prefix">format_quote</i>
              <select name="token-representation">
                <option value="lemma">lemma</option>
                <option value="pos">pos</option>
                <option value="simple_pos">simple_pos</option>
                <option value="word" selected>word</option>
              </select>
              <label>Token representation</label>
            </div>
            <div class="col s12">
              <span class="error-color-text helper-text hide" id="corpus-analysis-reader-error"></span>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l2 right-align">
          <p class="hide-on-small-only">&nbsp;</p>
          <button class="btn hide waves-effect waves-light corpus-analysis-action" id="corpus-analysis-reader-form-submit" type="submit" name="submit">Send <i class="material-icons right">send</i></button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="progress hide" id="corpus-analysis-reader-progress">
      <div class="indeterminate"></div>
    </div>
    <table>
      <tbody>
        <tr><td id="corpus-analysis-reader-corpus"></td></tr>
      </tbody>
    </table>
    <ul class="pagination hide" id="corpus-analysis-reader-corpus-pagination"></ul>
  </div>
</div>
{% endmacro %}

{# The extension modals #}
{% macro modals() %}{% endmacro %}

{# The extension scripts #}
{% macro scripts() %}
<script>
  const corpusAnalysisReader = new nopaque.corpus_analysis.ReaderExtension(corpusAnalysisApp);
</script>
{% endmacro %}
