{# The extension icon #}
{% set icon = '' %}

{# The extension name #}
{% set name = 'Static Visualization (beta)' %}

{# The extension description #}
{% set description = '' %}


{# The extension container content #}
{% macro container_content() %}
<div class="row">
    <div class="col s12">
      <h4><i class="material-icons left">query_stats</i>{{ name }}</h4>
    </div>
</div>
<div class="row">
  <div class="col s2">
    <div class="card hoverable" style="border-radius: 10px !important; background-color:#6b3f89; color:white">
      <div class="card-content" style="padding:10px !important; text-align:center;">
        <p><b>Tokens</b></p>
        <span class="card-title corpus-num-tokens"></span>
      </div>
    </div>
  </div>
  <div class="col s2">
    <div class="card hoverable" style="border-radius: 10px !important; background-color:#6b3f89; color:white">
      <div class="card-content" style="padding:10px !important; text-align:center">
        <p><b>Sentences</b></p>
        <span class="card-title corpus-num-s"></span>
      </div>
    </div>
  </div>
  <div class="col s2">
    <div class="card hoverable" style="border-radius: 10px !important; background-color:#6b3f89; color:white">
      <div class="card-content" style="padding:10px !important; text-align:center">
        <p><b>Unique words</b></p>
        <span class="card-title corpus-num-unique-words"></span>
      </div>
    </div>
  </div>
  <div class="col s2">
    <div class="card hoverable" style="border-radius: 10px !important; background-color:#6b3f89; color:white">
      <div class="card-content" style="padding:10px !important; text-align:center">
        <p><b>Unique lemmas</b></p>
        <span class="card-title corpus-num-unique-lemmas"></span>
      </div>
    </div>
  </div>
  <div class="col s2">
    <div class="card hoverable" style="border-radius: 10px !important; background-color:#6b3f89; color:white">
      <div class="card-content" style="padding:10px !important; text-align:center">
        <p><b>Unique pos</b></p>
        <span class="card-title corpus-num-unique-pos"></span>
      </div>
    </div>
  </div>
  <div class="col s2">
    <div class="card hoverable" style="border-radius: 10px !important; background-color:#6b3f89; color:white">
      <div class="card-content" style="padding:10px !important; text-align:center">
        <p><b>Unique simple_pos</b></p>
        <span class="card-title corpus-num-unique-simple-pos"></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s4">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title" id="text-proportions-title-element">Proportions</span>
        <p>of texts within the corpus</p>
        <div id="text-proportions-graphic"></div>
        <a class="btn disabled text-proportions-graph-mode-button" data-graph-type="pie"><i class="material-icons">incomplete_circle</i></a>
        <a class="btn text-proportions-graph-mode-button" data-graph-type="bar"><i class="material-icons">sort</i></a>
      </div>
    </div>
  </div>
  <div class="col s8">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title">Text Information Overview</span>
        <div class="chip text-count-chip" style="background-color:#6b3f89; color:white""></div>
        <div class="corpus-text-info-list no-autoinit"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title">Frequencies</span>
        <div class="row">
          <div class="col s4">
            <div class="corpus-token-list no-autoinit" style="transform: scale(0.91);"></div>
            <a class="dropdown-trigger btn" data-target="frequencies-token-category-dropdown">Word<i class="material-icons right">arrow_drop_down</i></a>
            <a class="btn-flat modal-trigger no-autoinit" id="frequencies-stopwords-setting-modal-button" href="#frequencies-stopwords-setting-modal">
              <i class="material-icons grey-text text-darken-2">settings</i>
            </a>
            <ul id="frequencies-token-category-dropdown" class="dropdown-content">
              <li><a data-token-category="word">Word</a></li>
              <li><a data-token-category="lemma">Lemma</a></li>
              <li><a data-token-category="pos">Pos</a></li>
              <li><a data-token-category="simple_pos">Simple_pos</a></li>
            </ul>
          </div>
          <div class="col s8">
            <div id="frequencies-graphic"></div>
            <div>
              <a class="btn disabled frequencies-graph-mode-button" data-graph-type="bar"><i class="material-icons">stacked_bar_chart</i></a>
              <a class="btn frequencies-graph-mode-button" data-graph-type="scatter"><i class="material-icons">show_chart</i></a>
              {# <a class="btn frequencies-graph-mode-button" data-graph-type="markers"><i class="material-icons">bubble_chart</i></a> #}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>
{% endmacro %}

{% macro modals() %}
<div class="modal modal-fixed-footer" id="frequencies-stopwords-setting-modal">
  <div class="modal-content">
    <h4>Settings</h4>
    <div class="row">
      <p>Here you can change the stopword-lists. Stopwords are common words in a language, 
      like "the" or "and," that carry little meaning and are often removed in text analysis 
      to improve efficiency and accuracy.</p>
      <div id="user-stopword-list-container"></div>
      <div class="chips col s8 no-autoinit input-field" id="stopword-input-field"></div>
    </div>
    <div class="row">
      <p>Below you can find a list of all stopwords that are always filtered out. 
      The lists are sorted by language, you can remove single words or remove 
      whole languages via the settings on the right.</p>
      <div class="input-field col s3">
        <select id="stopword-language-selection"></select>
        <label>Stopword language select</label>
      </div>
    </div>
    <div class="row">
      <div class="chip btn white-text red" id="delete-language-stopword-list-entries-button">Delete all below<i class="material-icons right">delete</i></div>
      <div class="chip btn white-text blue" id="reset-language-stopword-list-entries-button">Reset stopword list<i class="material-icons right">refresh</i></div>
    </div>
    <div id="stopword-language-chip-list"></div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn frequencies-stopword-setting-modal-action-buttons" data-action="cancel">Cancel</a>
    <a class="modal-close waves-effect waves-green btn frequencies-stopword-setting-modal-action-buttons" data-action="submit">Submit</a>
</div>
{% endmacro %}

{% macro scripts() %}
<script>
  const corpusAnalysisStaticVisualization = new nopaque.corpus_analysis.StaticVisualizationExtension(corpusAnalysisApp);
</script>
{% endmacro %}
 