{# The extension icon #}
{% set icon = '' %}

{# The extension name #}
{% set name = '' %}

{# The extension description #}
{% set description = '' %}


{# The extension container content #}
{% macro container_content(id_prefix) %}{% endmacro %}

{# The extension modals #}
{% macro modals(id_prefix) %}{% endmacro %}

{# The extension scripts #}
{% macro scripts(id_prefix) %}{% endmacro %}
