{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}


{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <h1 id="title">{{ title }}</h1>
      <p>Want to boost your research and get going? Nopaque is free and no download is needed. <a href="{{ url_for('.register') }}">Register now</a>!</p>

      <form method="POST">
        <div class="card-panel">
          {{ form.hidden_tag() }}
          {{ wtf.render_field(form.user, material_icon='person') }}
          {{ wtf.render_field(form.password, material_icon='vpn_key') }}
          <div class="row">
            <div class="col s12 l6">
              {{ wtf.render_field(form.remember_me) }}
            </div>
            <div class="col s12 l6 right-align">
              <a class="mr-3" href="{{ url_for('.reset_password_request') }}">Forgot your password?</a>
              {{ wtf.render_field(form.submit, material_icon='send') }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock page_content %}
