{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}


{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <h1 id="title">{{ title }}</h1>
      <p>
        Simply enter a username and password to receive your registration email.
        After that you can start right away. It goes without saying that the
        <a href="{{ url_for('main.privacy_policy') }}">General Data Protection Regulation</a>
        applies, only necessary data is stored. Please also read our
        <a href="{{ url_for('main.terms_of_use') }}">terms of use</a> before
        signing up for nopaque!
      </p>

      <form method="POST">
        <div class="card-panel">
          {{ form.hidden_tag() }}
          {{ wtf.render_field(form.username, material_icon='person') }}
          {{ wtf.render_field(form.password, material_icon='vpn_key') }}
          {{ wtf.render_field(form.password_2, material_icon='vpn_key') }}
          {{ wtf.render_field(form.email, material_icon='email', type='email') }}
          <div class="row">
            <div class="col s12 l6">
              {{ wtf.render_field(form.terms_of_use_accepted)}}
            </div>
            <div class="col s12 l6 right-align">
              {{ wtf.render_field(form.submit, material_icon='send') }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock page_content %}
