{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h1 id="title">{{ title }}</h1>
      <p>Enter a new password and confirm it! After that, the entered password is your new one!</p>

      <form method="POST">
        <div class="card-panel">
          {{ form.hidden_tag() }}
          {{ wtf.render_field(form.password) }}
          {{ wtf.render_field(form.password_2) }}
          <div class="right-align">
            {{ wtf.render_field(form.submit, material_icon='send') }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock page_content %}
