{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <h1 id="title">{{ title }}</h1>
      <p>After entering your email address you will receive instructions on how to reset your password.</p>

      <form method="POST">
        <div class="card-panel">
          {{ form.hidden_tag() }}
          {{ wtf.render_field(form.email, material_icon='email', type='email') }}
          <div class="right-align">
            {{ wtf.render_field(form.submit, material_icon='send') }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock page_content %}
