{% extends "base.html.j2" %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
      <p>Hello, <b>{{ current_user.username }}</b>.</p>
      <p>
        You have not confirmed your account yet. Before you can access this
        site you need to confirm your account. Check your inbox, you should
        have received an email with a confirmation link.
      </p>
      <p>Need another confirmation email? <a href="{{ url_for('.confirm_request') }}">Get a new one</a>.</p>
    </div>
  </div>
</div>
{% endblock page_content %}
