{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}

{% block main_attribs %} class="service-scheme" data-service="tesseract-ocr-pipeline"{% endblock main_attribs %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
    </div>

    <div class="col s12 m3 push-m9">
      <div class="center-align">
        <p class="hide-on-small-only">&nbsp;</p>
        <p class="hide-on-small-only">&nbsp;</p>
        <a class="btn-floating btn-large btn-scale-x2 waves-effect waves-light">
          <i class="nopaque-icons service-color darken service-icons" data-service="tesseract-ocr-pipeline"></i>
        </a>
      </div>
    </div>

    <div class="col s12 m9 pull-m3">
      <div class="card service-color-border border-darken" data-service="tesseract-ocr-pipeline" style="border-top: 10px solid;">
        <div class="card-content">
          <div class="row">
            <div class="col s12">
              <div class="card-panel z-depth-0">
                <span class="card-title"><i class="left material-icons">layers</i>Tesseract OCR Pipeline Model</span>
                <p>You can create a new Tesseract OCR Pipeline Model using the form below. They will automatically appear in the list of usable models on the <a href="{{ url_for('services.tesseract_ocr_pipeline') }}">Tesseract OCR Pipeline</a> service page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card">
        <form class="create-contribution-form" enctype="multipart/form-data" method="POST">
          <div class="card-content">
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col s12 l5">
                {{ wtf.render_field(form.tesseract_model_file, accept='.traineddata', placeholder='Choose a .traineddata file') }}
              </div>
              <div class="col s12 l7">
                {{ wtf.render_field(form.title, material_icon='title') }}
              </div>
              <div class="col s12">
                {{ wtf.render_field(form.description, material_icon='description') }}
              </div>
              <div class="col s12 l6">
                {{ wtf.render_field(form.publisher,  material_icon='account_balance') }}
              </div>
              <div class="col s12 l6">
                {{ wtf.render_field(form.publishing_year, material_icon='calendar_month') }}
              </div>
              <div class="col s12">
                {{ wtf.render_field(form.publisher_url, material_icon='link') }}
              </div>
              <div class="col s12">
                {{ wtf.render_field(form.publishing_url, material_icon='link') }}
              </div>
              <div class="col s12 l10">
                {{ wtf.render_field(form.version, material_icon='apps') }}
              </div>
              <div class="col s12 l6">
                {{ wtf.render_field(form.compatible_service_versions) }}
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {{ wtf.render_field(form.submit, material_icon='send') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
