<h2>Vorbereitungen</h2>
<div class="row">
  <div class="col s12 m5">
    <img class="materialboxed responsive-img" alt="Dashboard" src="{{ url_for('static', filename='images/workshops/fgho_sommerschule_2023/dashboard.png') }}">
  </div>
  <div class="col s12 m7">
    <p>
      Navigiere zum Abschnitt "<a href="{{ url_for('main.dashboard', _anchor='corpora') }}">My Corpora</a>"
      auf der <a href="{{ url_for('main.dashboard') }}">Dashboard</a> Seite.
    </p>
    <p>
      Nutze dort den "<a href="{{ url_for('corpora.create_corpus') }}">Create corpus +</a>"
      Button um einen neuen Korpus zu erstellen.
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col s12 m5">
    <img class="materialboxed responsive-img" alt="Dashboard" src="{{ url_for('static', filename='images/workshops/fgho_sommerschule_2023/create_corpus.png') }}">
  </div>
  <div class="col s12 m7">
    <p>
      Trage in dem Formular einen <b>Titel</b> und eine <b>Beschreibung</b> ein, die Felder
      können frei befüllt werden. Die Angaben sollen dir in Zukunft helfen den
      Korpus wiederzufinden, wenn deine Korpusliste sich füllt.
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col s12 m5">
    <img class="materialboxed responsive-img" alt="Dashboard" src="{{ url_for('static', filename='images/workshops/fgho_sommerschule_2023/empty_corpus.png') }}">
  </div>
  <div class="col s12 m7">
    <p>
      Nachdem du den Korpus erstellt hast, wirst du zur Korpusübersicht
      weitergeleitet. Diese zeigt einen leeren Korpus, in dem noch keine
      Korpusdateien hinterlegt sind. Um den Korpus mit Texten zu füllen,
      wird der „<b>+ Add corpus file</b>“ Button benutzt.
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col s12 m5">
    <img class="materialboxed responsive-img" alt="Dashboard" src="{{ url_for('static', filename='images/workshops/fgho_sommerschule_2023/add_corpus_file.png') }}">
  </div>
  <div class="col s12 m7">
    <p>
      In dem folgenden Formular werden nun Metadaten zu dem Text, den wir
      hinzufügen wollen, hinterlegt. Diese Daten sollten sorgfältig eingetragen
      werden, da sie in der Analyse mit einbezogen werden. Mit dem „File“-Feld
      muss eine Textdatei im „.vrt“ Format ausgewählt werden.
    </p>
    <p>
      Füge deinem neu erstellten Korpus so die zwei, <b>im Workshop zur Verfügung
      gestellten</b>, Texte hinzu.
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col s12 m5">
    <img class="materialboxed responsive-img" alt="Dashboard" src="{{ url_for('static', filename='images/workshops/fgho_sommerschule_2023/corpus.png') }}">
  </div>
  <div class="col s12 m7">
    <p>
      Nachdem die Texte dem Korpus hinzugefügt wurden, sollte deine
      Korpusübersicht wie in dem Bild aussehen. Nutze nun die „<b>Build</b>“-Aktion,
      um den Korpus für eine Analyse vorzubereiten.
    </p>
  </div>
</div>
