{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}
{% import 'corpora/_analysis/concordance.html.j2' as concordance_extension %}
{% import 'corpora/_analysis/reader.html.j2' as reader_extension %}
{% import 'corpora/_analysis/static_visualization.html.j2' as static_visualization_extension %}


{% set navbar_extended = true %}


{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='css/pages/corpora/analysis.css') }}" rel="stylesheet">
{% endblock stylesheets %}


{% block main_attributes %}class="service-color lighten" data-service="corpus-analysis" id="corpus-analysis-container"{% endblock main_attributes %}


{% block page_content %}
<ul class="tabs no-autoinit" id="corpus-analysis-extension-tabs">
  <li class="tab">
    <a class="active" href="#corpus-analysis-home-container"><i class="nopaque-icons service-icons left" data-service="corpus-analysis" style="line-height: inherit;"></i>Corpus analysis</a>
  </li>
  <li class="tab">
    <a href="#corpus-analysis-concordance-container"><i class="material-icons left" style="line-height: inherit;">{{ concordance_extension.icon }}</i>{{ concordance_extension.name }}</a>
  </li>
  <li class="tab">
    <a href="#corpus-analysis-reader-container"><i class="material-icons left" style="line-height: inherit;">{{ reader_extension.icon }}</i>{{ reader_extension.name }}</a>
  </li>
</ul>

<div id="corpus-analysis-home-container">
  <h1>{{ title }}</h1>

  <div class="row" id="corpus-analysis-extension-cards">
    <div class="col s3">
      <div class="card extension-selector hoverable" data-target="corpus-analysis-concordance-container">
        <div class="card-content">
          <span class="card-title">{{ concordance_extension.name }}</span>
          <p>{{ concordance_extension.description }}</p>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card extension-selector hoverable" data-target="corpus-analysis-reader-container">
        <div class="card-content">
          <span class="card-title">{{ reader_extension.name }}</span>
          <p>{{ reader_extension.description }}</p>
        </div>
      </div>
    </div>
  </div>

  {{ static_visualization_extension.container_content() }}
</div>


<div id="corpus-analysis-concordance-container">
  {{ concordance_extension.container_content() }}
</div>

<div id="corpus-analysis-reader-container">
  {{ reader_extension.container_content() }}
</div>
{% endblock page_content %}

{% block modals %}
{{ super() }}
<div class="modal no-autoinit" id="corpus-analysis-init-modal">
  <div class="modal-content">
    <div class="card-panel primary-color white-text" data-service="corpus-analysis">
      <h4 class="m-3"><i class="material-icons left" style="font-size: inherit; line-height: inherit;">hourglass_empty</i>We are preparing your analysis session</h4>
    </div>
    <p>
      Our server works as hard as it can to prepare your analysis session. Please be patient and give it some time.<br>
      If initialization takes longer than usual or an error occurs, <a onclick="window.location.reload()" href="#">reload the page</a>.
    </p>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
    <p class="status-text"></p>
    <p class="errors error-color-text hide"></p>
  </div>
</div>

{{ concordance_extension.modals() }}
{{ reader_extension.modals() }}
{{ static_visualization_extension.modals() }}
{% endblock modals %}

{% block scripts %}
{{ super() }}
<script>
  const corpusAnalysisApp = new nopaque.corpus_analysis.App({{ corpus.hashid|tojson }});
</script>

{{ concordance_extension.scripts() }}
{{ reader_extension.scripts() }}
{{ static_visualization_extension.scripts() }}

<script>
  corpusAnalysisApp.init();
</script>
{% endblock scripts %}
