{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}

{% block main_attributes %}class="service-color lighten" data-service="corpus-analysis"{% endblock main_attributes %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
      <p>Here you can create a new corpus, just choose a title and a description which will help to identify it later. After the corpus has been created, annotated texts in <i>verticalized text format</i> can be added to it on the corpus overview page.</p>
    </div>

    <div class="col s12">
      <div class="card">
        <form method="POST">
          <div class="card-content">
            {{ form.hidden_tag() }}
            {{ wtf.render_field(form.title, material_icon='title') }}
            {{ wtf.render_field(form.description, material_icon='description') }}
          </div>
          <div class="card-action right-align">
            <a class="waves-effect waves-light btn red" href="{{ url_for('main.dashboard', _anchor='corpora') }}"><i class="material-icons left">close</i>Cancel</a>
            {{ wtf.render_field(form.submit, material_icon='send') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
