{% extends "base.html.j2" %}

{% set title = error.name %}

{% block page_content %}
<div class="container">
  <h1 id="title">{{ error.code }} {{ error.name }}</h1>
  <p>{{ error.description }}</p>
</div>
{% endblock page_content %}
