{% extends "base.html.j2" %}

{% block main_attributes %}class="service-color lighten" data-service="corpus-analysis"{% endblock main_attributes %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
    </div>

    <div class="col s12 m3 push-m9">
      <div class="center-align">
        <i class="large nopaque-icons service-icons service-color-text text-darken"></i>
      </div>
    </div>

    <div class="col s12 m9 pull-m3">
      <p>Nopaque lets you create and upload as many text corpora as you want. It makes use of CQP Query Language, which allows for complex search requests with the aid of metadata and NLP tags. The results can either be displayed as text or abstract visualizations.</p>
    </div>

    <div class="col s12" id="corpora">
      <h2>My Corpora</h2>
      <div class="card">
        <div class="card-content">
          <div class="corpus-list" data-user-id="{{ current_user.hashid }}"></div>
        </div>
        <div class="card-action right-align">
          <a class="btn service-color darken waves-effect waves-light" href="{{ url_for('corpora.create_corpus') }}">Create corpus<i class="material-icons right">add</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
