{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}

{% block main_attributes %}class="service-color lighten" data-service="spacy-nlp-pipeline"{% endblock main_attributes %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
    </div>

    <div class="col s12 m3 push-m9">
      <div class="center-align">
        <p class="hide-on-small-only">&nbsp;</p>
        <p class="hide-on-small-only">&nbsp;</p>
        <i class="large nopaque-icons service-icons service-color-text text-darken"></i>
      </div>
    </div>

    <div class="col s12 m9 pull-m3">
      <div class="card service-color-border border-darken" style="border-top: 10px solid;">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m6">
              <div class="card-panel z-depth-0">
                <span class="card-title"><i class="left material-icons">layers</i>Tokenization</span>
                <p>Your text is split up into sentences and words, so called tokens, which can then be analyzed.</p>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card-panel z-depth-0">
                <span class="card-title"><i class="left material-icons">layers</i>Lemmatization</span>
                <p>All inflected forms of a word are grouped together so that it can be analyzed as a single item.</p>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card-panel z-depth-0">
                <span class="card-title"><i class="left material-icons">layers</i>Part-of-speech Tagging</span>
                <p>In accordance with its definition and context, each word is marked up as corresponding to a particular part of speech.</p>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card-panel z-depth-0">
                <span class="card-title"><i class="left material-icons">layers</i>Named-Entity Recognition</span>
                <p>Named entities are located and classified into specific categories like persons or locations.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <h2>Submit a job</h2>
      <div class="card">
        <form class="create-job-form" enctype="multipart/form-data" method="POST">
          <div class="card-content">
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col s12 l4">
                {{ wtf.render_field(form.title, material_icon='title') }}
              </div>
              <div class="col s12 l8">
                {{ wtf.render_field(form.description, material_icon='description') }}
              </div>
              <div class="col s12 l5">
                {{ wtf.render_field(form.txt, accept='text/plain', placeholder='Choose a plain text file') }}
              </div>
             <div class="col s12 l4">
                <div class="input-field">
                  <i class="material-icons prefix">language</i>
                  {{ form.model() }}
                  {{ form.model.label }}
                  <span class="helper-text">
                    <a class="modal-trigger tooltipped" href="#models-modal" data-position="bottom" data-tooltip="See more information about models"><i class="material-icons">help_outline</i></a>
                    <a class="tooltipped" href="{{ url_for('contributions.spacy_nlp_pipeline_models.create') }}" data-position="bottom" data-tooltip="Add your own spaCy NLP models"><i class="material-icons">new_label</i></a>
                  </span>
                </div>
              </div>
              <div class="col s12 l3">
                {{ wtf.render_field(form.version, material_icon='apps') }}
              </div>
              <div class="col s12">
                <span class="card-title">Preprocessing</span>
              </div>
              {% if 'disabled' not in form.encoding_detection.render_kw or not form.encoding_detection.render_kw['disabled'] %}
              <div class="col s9">
                <p>{{ form.encoding_detection.label.text }}</p>
                <p class="light">If the input files are not created with the nopaque OCR service or you do not know if your text files are UTF-8 encoded, check this switch. We will try to automatically determine the right encoding for your texts to process them.</p>
              </div>
              <div class="col s3 right-align">
                <div class="switch">
                  <label>
                    {{ form.encoding_detection() }}
                    <span class="lever"></span>
                  </label>
                </div>
              </div>
              {% endif %}
              <!--
              Seperate each setting with the following
              <div class="col s12"><p>&nbsp;</p></div>
              <div class="col s12 divider"></div>
              <div class="col s12"><p>&nbsp;</p></div>
              -->
            </div>
          </div>
          <div class="card-action right-align">
            {{ wtf.render_field(form.submit, material_icon='send') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block modals %}
{{ super() }}
<div id="progress-modal" class="modal">
  <div class="modal-content">
    <h4><i class="material-icons prefix">file_upload</i> Uploading files...</h4>
    <div class="progress">
      <div class="determinate" style="width: 0%"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-light btn red abort-request">Cancel</a>
  </div>
</div>

<div id="models-modal" class="modal">
  <div class="modal-content">
    <h4>spaCy NLP Pipeline models</h4>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Biblio</th>
        </tr>
      </thead>
      <tbody>
        {% for m in spacy_nlp_pipeline_models %}
        <tr id="spacy-nlp-pipeline-model-{{ m.hashid }}">
          <td>{{ m.title }}</td>
          {% if m.description == '' %}
          <td>Description is not available.</td>
          {% else %}
          <td>{{ m.description }}</td>
          {% endif %}
          <td><a href="{{ m.publisher_url }}">{{ m.publisher }}</a> ({{ m.publishing_year }}), {{ m.title }} {{ m.version}}, <a href="{{ m.publishing_url }}">{{ m.publishing_url }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-light btn">Close</a>
  </div>
</div>
{% endblock modals %}

{% block scripts %}
{{ super() }}
<script>
  function initPage() {
    let createJobFormTxtElement = document.querySelector('#{{ form.txt.id }}');
    createJobFormTxtElement.parentElement.classList.add('service-color', 'darken');

    {% if user_spacy_nlp_pipeline_models_count == 0 %}
    // Disable user model selection if no models are available
    optionGroupOptions = document.querySelectorAll(".optgroup-option");
    optionGroupOptions[0].classList.add("disabled");
    {% endif %}

    let createJobFormSubmitElement = document.querySelector('#{{ form.submit.id }}');
    createJobFormSubmitElement.classList.add('service-color', 'darken');
  };

  initPage();
</script>
{% endblock scripts %}
