{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}

{% block main_attributes %}class="service-color lighten" data-service="transkribus-htr-pipeline"{% endblock main_attributes %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
    </div>

    <div class="col s12 m3 push-m9">
      <div class="center-align">
        <p class="hide-on-small-only">&nbsp;</p>
        <p class="hide-on-small-only">&nbsp;</p>
        <i class="large nopaque-icons service-icons service-color-text text-darken"></i>
      </div>
    </div>

    <div class="col s12 m9 pull-m3">
      <div class="card service-color-border border-darken" data-service="transkribus-htr-pipeline" style="border-top: 10px solid;">
        <div class="card-content">
          <div class="row">
            <div class="col s12">
              <div class="card-panel z-depth-0">
                <span class="card-title"><i class="left material-icons">layers</i>HTR</span>
                <p>In this process, nopaque converts your image data – like photos or scans – into text data. This step enables you to proceed with the computational analysis of your documents.</p>
                <p class="right-align">
                  <a href="https://readcoop.eu/de/transkribus/" target="_blank">
                    <img src="https://readcoop.eu/wp-content/uploads/2020/02/Logo_Transkribus_web.svg" title="Logoo_Transkribus_web" alt="Logoo_Transkribus_web" style="width: 30%;">
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <h2>Submit a job</h2>
      <div class="card">
        <form class="create-job-form" enctype="multipart/form-data" method="POST">
          <div class="card-content">
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col s12 l4">
                {{ wtf.render_field(form.title, material_icon='title') }}
              </div>
              <div class="col s12 l8">
                {{ wtf.render_field(form.description, material_icon='description') }}
              </div>
              <div class="col s12 l5">
                {{ wtf.render_field(form.pdf, accept='application/pdf', placeholder='Choose a PDF file') }}
              </div>
              <div class="col s12 l4">
                <div class="input-field">
                  <i class="material-icons prefix">language</i>
                  {{ form.model() }}
                  {{ form.model.label }}
                  <span class="helper-text">
                    <a class="modal-trigger" href="#models-modal">More details about models</a>
                  </span>
                  {% for error in form.model.errors %}
                  <span class="helper-text error-color-text">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="col s12 l3">
                {{ wtf.render_field(form.version, material_icon='apps') }}
              </div>
              <div class="col s12">
                <span class="card-title">Preprocessing</span>
              </div>
              {% if 'disabled' not in form.binarization.render_kw or not form.binarization.render_kw['disabled'] %}
              <div class="col s9">
                <p>{{ form.binarization.label.text }}</p>
                <p class="light">Based on a brightness threshold pixels are converted into either black or white. It is useful to reduce noise in images. (<b>longer duration</b>)</p>
              </div>
              <div class="col s3 right-align">
                <div class="switch">
                  <label>
                    {{ form.binarization() }}
                    <span class="lever"></span>
                  </label>
                </div>
              </div>
              {% endif %}
              <!--
              Seperate each setting with the following
              <div class="col s12"><p>&nbsp;</p></div>
              <div class="col s12 divider"></div>
              <div class="col s12"><p>&nbsp;</p></div>
              -->
            </div>
          </div>
          <div class="card-action right-align">
            {{ wtf.render_field(form.submit, material_icon='send') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block modals %}
{{ super() }}
<div id="models-modal" class="modal">
  <div class="modal-content">
    <h4>Transkribus HTR Pipeline models</h4>
    <ul class="collapsible popout" id="transkribus-htr-pipeline-models">
      {% for x in transkribus_htr_pipeline_models %}
      <li id="transkribus-htr-pipeline-model-{{ x.modelId }}">
        <div class="collapsible-header"><i class="material-icons">widgets</i>{{ x.name }}</div>
        <div class="collapsible-body">
          {{ x|tojson }}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-light btn">Close</a>
  </div>
</div>

<div id="progress-modal" class="modal">
  <div class="modal-content">
    <h4><i class="material-icons left">file_upload</i>Uploading files...</h4>
    <div class="progress">
      <div class="determinate" style="width: 0%"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-light btn red abort-request">Cancel</a>
  </div>
</div>
{% endblock modals %}

{% block scripts %}
{{ super() }}
<script>
  function initPage() {
    let createJobFormPdfElement = document.querySelector('#{{ form.pdf.id }}');
    createJobFormPdfElement.parentElement.classList.add('service-color', 'darken');

    let createJobFormSubmitElement = document.querySelector('#{{ form.submit.id }}');
    createJobFormSubmitElement.classList.add('service-color', 'darken');
  };

  initPage();
</script>
{% endblock scripts %}
