{% extends "base.html.j2" %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
      <p>
        Upload your own language models into nopaque. This is useful for
        working with different languages that are not available as standard in
        nopaque or if a you want to work with a language model that you have
        developed by yourself. Uploaded models can be found in the model list
        of the corresponding service and can be used immediately.
      </p>
    </div>

    <div class="col s12 l4">
      <h4>Tesseract OCR Pipeline Models</h4>
    </div>

    <div class="col s12 l8">
      <div class="card">
        <div class="card-content">
          <div class="tesseract-ocr-pipeline-model-list" data-user-id="{{ current_user.hashid }}"></div>
        </div>
        <div class="card-action right-align">
          <a href="{{ url_for('.tesseract_ocr_pipeline_models.create') }}" class="btn waves-effect waves-light"><i class="material-icons left">add</i>Create</a>
        </div>
      </div>
    </div>

    <div class="col s12 l4">
      <h4>SpaCy NLP Pipeline Models</h4>
    </div>

    <div class="col s12 l8">
      <div class="card">
        <div class="card-content">
          <div class="spacy-nlp-pipeline-model-list" data-user-id="{{ current_user.hashid }}"></div>
        </div>
        <div class="card-action right-align">
          <a href="{{ url_for('.spacy_nlp_pipeline_models.create') }}" class="btn waves-effect waves-light"><i class="material-icons left">add</i>Create</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
