@import "sass/abstracts/base-color-variables";

$primary-color:        #00426f;
$primary-color-light:  #006fbc;
$primary-color-dark:   #001523;
$secondary-color:      #00426f;
$success-color:        #4caf50;
$error-color:          #f44336;
$link-color:           #039be5;

@import "external/materialize/sass/materialize";
