{% extends "base.html.j2" %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
    </div>

    <div class="col s12">
      <a class="btn waves-effect waves-light" href="#fgho-sommerschule-2023-workshop-aufgaben">Hier geht es zu den Aufgaben<i class="material-icons right">send</i></a>
    </div>

    <div class="col s12" id="fgho-sommerschule-2023-vorbereitungen">
      {% include "workshops/_fgho_sommerschule_2023/vorbereitungen.html.j2" %}
    </div>

    <div class="col s12" id="fgho-sommerschule-2023-workshop-aufgaben">
      {% include "workshops/_fgho_sommerschule_2023/aufgaben.html.j2" %}
    </div>
  </div>
</div>
{% endblock page_content %}
