{% extends "base.html.j2" %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
    </div>

    <div class="col s12" id="corpora">
      <h2>My Corpora</h2>
      <p>Create a corpus to interactively perform linguistic analysis.</p>
    </div>

    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="corpus-list" data-user-id="{{ current_user.hashid }}"></div>
        </div>
        <div class="card-action right-align">
          <a class="btn waves-effect waves-light" href="{{ url_for('corpora.create_corpus') }}">Create corpus<i class="material-icons right">add</i></a>
        </div>
      </div>
    </div>

    <div class="col s12" id="jobs">
      <h2>My Jobs</h2>
      <p>
        A job is the execution of a service provided by nopaque. You can
        create any number of jobs and let them be processed simultaneously. We
        <b>strongly recommend</b> that you create a folder on your computer where you
        save the various files that nopaque provides you with after each
        pre-processing step. You will need the result of each step for the
        next step.
      </p>
    </div>

    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="job-list" data-user-id="{{ current_user.hashid }}"></div>
        </div>
        <div class="card-action right-align">
          <p><a data-target="dashboard-create-job-dropdown-content" class="btn waves-effect waves-light dropdown-trigger no-autoinit" id="dashboard-create-job-dropdown-trigger">Create job<i class="material-icons right">add</i></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}


{% block dropdowns %}
{{ super() }}
<ul class="dropdown-content" id="dashboard-create-job-dropdown-content">
  <li>
    <a href="{{ url_for('services.file_setup_pipeline') }}">
      <i class="nopaque-icons service-icons service-color-text text-darken" data-service="file-setup-pipeline"></i>
      File Setup Pipeline
    </a>
  </li>
  <li>
    <a href="{{ url_for('services.tesseract_ocr_pipeline') }}">
      <i class="nopaque-icons service-icons service-color-text text-darken" data-service="tesseract-ocr-pipeline"></i>
      Tesseract OCR Pipeline
    </a>
  </li>
  {% if config.NOPAQUE_TRANSKRIBUS_ENABLED %}
  <li>
    <a href="{{ url_for('services.transkribus_htr_pipeline') }}">
      <i class="nopaque-icons service-icons service-color-text text-darken" data-service="transkribus-htr-pipeline"></i>
      Transkribus HTR Pipeline
    </a>
  </li>
  {% endif %}
  <li>
    <a href="{{ url_for('services.spacy_nlp_pipeline') }}">
      <i class="nopaque-icons service-icons service-color-text text-darken" data-service="spacy-nlp-pipeline"></i>
      SpaCy NLP Pipeline
    </a>
  </li>
</ul>
{% endblock dropdowns %}


{% block scripts %}
{{ super() }}
<script>
  M.Dropdown.init(
    document.querySelector('#dashboard-create-job-dropdown-trigger'),
    {
      constrainWidth: false,
      container: document.querySelector('#dropdowns'),
      coverTrigger: false
    }
  );
</script>
{% endblock scripts %}
