{% extends "base.html.j2" %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
    </div>

    <div class="col s12">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">Who is developing nopaque?</div>
          <div class="collapsible-body">
            <p>nopaque is developed by a small, interdisciplinary Team at University Bielefeld called Data Infrastructure and Digital Humanities (INF). We are part of the SFB 1288 - Practices of comparing. Ordering and changing the world.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Why the name nopaque?</div>
          <div class="collapsible-body">
            <p>When we started developing nopaque we wanted to have a cool name like Voyant Tools which can be translated to light or seeing. So we choose opaque thinking that it means that something is transparent. After a while we realized that we misunderstood the meaning of the word (opaque means non-transparent) and simply negated it ending up with nopaque.</p>
            <p>We also think nopaque fits pretty nicley because we want you to be able to make your texts transparent and see through them with our analysis tool to gain new knowledge about them.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Is nopaque free to use for everyone?</div>
          <div class="collapsible-body">
            <p>Yes nopaque is free to use for everyone! It does not matter if you are a researcher in the humanities, a student or just someone who wants to learn something new.</p>
          </div>
        <li>
        <li>
          <div class="collapsible-header">Where can i find nopaque's source code?</div>
          <div class="collapsible-body">
            <p>Our source code is spread over multiple Git repositories.</p>
            <ul>
              <li>nopaque frontend: <a href="https://gitlab.ub.uni-bielefeld.de/sfb1288inf/nopaque" target="_blank">https://gitlab.ub.uni-bielefeld.de/sfb1288inf/nopaque</a></li>
              <li>File Setup Pipeline: <a href="https://gitlab.ub.uni-bielefeld.de/sfb1288inf/file-setup-pipeline" target="_blank">https://gitlab.ub.uni-bielefeld.de/sfb1288inf/file-setup-pipeline</a></li>
              <li>Tesseract OCR Pipeline: <a href="https://gitlab.ub.uni-bielefeld.de/sfb1288inf/tesseract-ocr-pipeline" target="_blank">https://gitlab.ub.uni-bielefeld.de/sfb1288inf/tesseract-ocr-pipeline</a></li>
              <li>spaCy NLP Pipeline: <a href="https://gitlab.ub.uni-bielefeld.de/sfb1288inf/spacy-nlp-pipeline" target="_blank">https://gitlab.ub.uni-bielefeld.de/sfb1288inf/spacy-nlp-pipeline</a></li>
              <li>Corpus analysis backend: <a href="https://gitlab.ub.uni-bielefeld.de/sfb1288inf/cqpserver" target="_blank">https://gitlab.ub.uni-bielefeld.de/sfb1288inf/cqpserver</a></li>
              <li>Corpus analysis backend connector:  <a href="https://github.com/Pevtrick/cqi-py" target="_blank">https://github.com/Pevtrick/cqi-py</a></li>
            </ul>
          </div>
        <li>
        <li>
          <div class="collapsible-header">Could I use nopaque as a permant storage for my research data?</div>
          <div class="collapsible-body">
            <p>Your corpus data is theoretically stored as long as your account exists. Since our storage space is unfortunately not infinite, your job related data will be automatically deleted 3 months after job creation. We encourage you to permanently save your data somwhere else.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock page_content %}
