{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}

{% block page_content %}
<div class="parallax-container" id="title">
  <div class="parallax">
    <img src="{{ url_for('static', filename='images/parallax_lq/01_books_antique_book_old.jpg') }}" alt="">
  </div>
</div>

<div class="section white scrollspy" id="information">
  <div class="row container">
    <div class="col s12 m10">
      <div class="row">
        <div class="col s12">
          <h3>Why you should use nopaque</h3>
          <p>nopaque is a custom-built web application for researchers who want to get out more of their images and texts without having to bother about the technical side of things. You can focus on what really interests you, nopaque does the rest.</p>
        </div>

        <div class="col s12">
          <div class="row">
            <div class="col s12 m6 l3 center-align">
              <i class="large nopaque-icons primary-color-text" data-nopaque-icon="speedometer"></i><br>
              <b class="primary-color-text">Speeds up your work</b>
              <p class="light">All tools provided by nopaque are carefully selected to provide a complete tool suite without being held up by compatibility issues.</p>
            </div>
            <div class="col s12 m6 l3 center-align">
              <i class="large nopaque-icons primary-color-text" data-nopaque-icon="cloud-processes"></i><br>
              <b class="primary-color-text">Cloud infrastructure</b>
              <p class="light">All computational work is processed within nopaque’s cloud infrastructure. You don't need to install any software. Great, right?</p>
            </div>
            <div class="col s12 m6 l3 center-align">
              <i class="large nopaque-icons primary-color-text" data-nopaque-icon="account-circle"></i><br>
              <b class="primary-color-text">User friendly</b>
              <p class="light">You can start right away without having to read mile-long manuals. All services come with default settings that make it easy for you to just get going. Also great, right?</p>
            </div>
            <div class="col s12 m6 l3 center-align">
              <i class="large nopaque-icons primary-color-text" data-nopaque-icon="meshed-gears"></i><br>
              <b class="primary-color-text">Meshing processes</b>
              <p class="light">No matter where you step in, nopaque facilitates and accompanies your research. Its workflow perfectly ties in with your research process.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <ul class="section table-of-contents">
        <li><a href="#information">Why you should use nopaque</a></li>
        <li><a href="#services">What nopaque can do for you</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="#registration-and-log-in">Registration and log in</a></li>
        {% endif %}
        <li><a href="#introduction-video">Introduction video</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ url_for('static', filename='images/parallax_lq/02_concept_document_focus_letter.jpg') }}" alt="">
  </div>
</div>

<div class="section white scrollspy" id="services">
  <div class="row container">
    <div class="col s12 m10">
      <div class="row">
        <div class="col s12">
          <h3>What nopaque can do for you</h3>
          <p>All services and processes are logically linked and built upon each other. You can follow them step by step or directly choose the one that suits your needs best. And while the process is computed in nopaque’s cloud, you can just keep working.</p>
        </div>

        <div class="col s12">
          <div class="row">
            <div class="col s12 m6 l3 center-align">
              <a href="{{ url_for('services.file_setup_pipeline') }}">
                <i class="large nopaque-icons service-icons service-color-text text-darken" data-service="file-setup-pipeline"></i>
              </a><br>
              <b class="service-color-text text-darken" data-service="file-setup-pipeline">File setup</b>
              <p class="light">Digital copies of text based research data (books, letters, etc.) often comprise various files and formats. nopaque converts and merges those files to facilitate further processing and the application of other services.</p>
            </div>
            <div class="col s12 m6 l3 center-align">
              <a href="{{ url_for('services.tesseract_ocr_pipeline') }}">
                <i class="large nopaque-icons service-icons service-color-text text-darken" data-service="tesseract-ocr-pipeline"></i>
              </a><br>
              <b class="service-color-text text-darken" data-service="tesseract-ocr-pipeline">Optical Character Recognition</b>
              <p class="light">nopaque converts your image data – like photos or scans – into text data through OCR making it machine readable. This step enables you to proceed with further computational analysis of your documents.</p>
            </div>
            {% if config.NOPAQUE_TRANSKRIBUS_ENABLED %}
            <div class="col s12 m6 l3 center-align">
              <a href="{{ url_for('services.transkribus_htr_pipeline') }}">
                <i class="large nopaque-icons service-icons service-color-text text-darken" data-service="transkribus-htr-pipeline"></i>
              </a><br>
              <b class="service-color-text text-darken" data-service="transkribus-htr-pipeline">Transkribus HTR Pipeline</b>
              <p class="light">nopaque converts your image data – like photos or scans – into text data through HTR making it machine readable. This step enables you to proceed with further computational analysis of your documents.</p>
            </div>
            {% endif %}
            <div class="col s12 m6 l3 center-align">
              <a href="{{ url_for('services.spacy_nlp_pipeline') }}">
                <i class="large nopaque-icons service-icons service-color-text text-darken" data-service="spacy-nlp-pipeline"></i>
              </a><br>
              <b class="service-color-text text-darken" data-service="spacy-nlp-pipeline">Natural Language Processing</b>
              <p class="light">By means of computational linguistic data processing (tokenization, lemmatization, part-of-speech tagging and named-entity recognition) nopaque extracts additional information from your text.</p>
            </div>
            <div class="col s12 m6 l3 center-align">
              <a href="{{ url_for('services.corpus_analysis') }}">
                <i class="large nopaque-icons service-icons service-color-text text-darken" data-service="corpus-analysis"></i>
              </a><br>
              <b class="service-color-text text-darken" data-service="corpus-analysis">Corpus analysis</b>
              <p class="light">nopaque lets you create and upload as many text corpora as you want. It makes use of CQP Query Language, which allows for complex search requests with the aid of metadata and NLP tags.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <ul class="section table-of-contents">
        <li><a href="#information">Why you should use nopaque</a></li>
        <li><a href="#services">What nopaque can do for you</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="#registration-and-log-in">Registration and log in</a></li>
        {% endif %}
        <li><a href="#introduction-video">Introduction video</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ url_for('static', filename='images/parallax_lq/03_text_data_wide.png') }}" alt="">
  </div>
</div>

{% if current_user.is_anonymous %}
<div class="section white scrollspy" id="registration-and-log-in">
  <div class="row container">
    <div class="col s12 m10">
      <div class="row">
        <div class="col s12 m4">
          <h3>Registration and Log in</h3>
          <p>Want to boost your research and get going? nopaque is free and no download is needed. Register now!</p>
          <a class="btn waves-effect waves-light" href="{{ url_for('auth.register') }}"><i class="material-icons left">person_add</i>Register</a>
        </div>

        <div class="col s12 m8">
          <br class="hide-on-small-only">
          <div class="card">
            <form method="POST">
              <div class="card-content">
                <span class="card-title">Log in</span>
                {{ form.hidden_tag() }}
                {{ wtf.render_field(form.user, material_icon='person') }}
                {{ wtf.render_field(form.password, material_icon='vpn_key') }}
                <div class="row mb-0">
                  <div class="col s6 left-align">
                    <a href="{{ url_for('auth.reset_password_request') }}">Forgot your password?</a>
                  </div>
                  <div class="col s6 right-align">
                    {{ wtf.render_field(form.remember_me) }}
                  </div>
                </div>
              </div>
              <div class="card-action right-align">
                {{ wtf.render_field(form.submit, material_icon='send') }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <ul class="section table-of-contents">
        <li><a href="#information">Why you should use nopaque</a></li>
        <li><a href="#services">What nopaque can do for you</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="#registration-and-log-in">Registration and log in</a></li>
        {% endif %}
        <li><a href="#introduction-video">Introduction video</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ url_for('static', filename='images/parallax_lq/04_german_text_book_paper.jpg') }}" alt="">
  </div>
</div>
{% endif %}

<div class="section white scrollspy" id="introduction-video">
  <div class="row container">
    <!-- <div class="col s12 m10"> -->
    <div class="col s12">
      <h3>Introduction video</h3>
      <div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube-nocookie.com/embed/KPGZSW_7SWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ url_for('static', filename='images/parallax_lq/05_chapter_book_text_tale.jpg') }}" alt="">
  </div>
</div>
{% endblock page_content %}
