{% extends "base.html.j2" %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
    </div>

    <div class="col s12 m8">
      <div class="section scrollspy pt-0" id="manual-introduction">
        {% include "main/_manual/01_introduction.html.j2" %}
      </div>

      <div class="section scrollspy" id="manual-registration-and-log-in">
        {% include "main/_manual/02_registration_and_log_in.html.j2" %}
      </div>

      <div class="section scrollspy" id="manual-dashboard">
        {% include "main/_manual/03_dashboard.html.j2" %}
      </div>

      <div class="section scrollspy" id="manual-services">
        {% include "main/_manual/06_services.html.j2" %}
      </div>

      <div class="section scrollspy" id="manual-cqp-query-language">
        {% include "main/_manual/08_cqp_query_language.html.j2" %}
      </div>

      <div class="section scrollspy" id="manual-query-builder">
        {% include "main/_manual/09_query_builder.html.j2" %}
      </div>

      <div class="section scrollspy" id="manual-tagsets">
        {% include "main/_manual/10_tagsets.html.j2" %}
      </div>
    </div>

    <div class="hide-on-small-only col m4 l3 offset-l1">
      <ul class="section table-of-contents fixed">
        <li><a href="#manual-introduction">Introduction</a></li>
        <li><a href="#manual-registration-and-log-in">Registration and Log in</a></li>
        <li><a href="#manual-dashboard">Dashboard</a></li>
        <li><a href="#manual-services">Services</a></li>
        <li><a href="#manual-cqp-query-language">CQP Query Language</a></li>
        <li><a href="#manual-query-builder">Query Builder</a></li>
        <li><a href="#manual-tagsets">Tagsets</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock page_content %}
