<h2 class="hide">Introduction</h2>
<p>
  nopaque is a web-based digital working environment. It implements a
  workflow based on the research process in the humanities and supports its
  users in processing their data in order to subsequently apply digital
  analysis methods to them. All processes are implemented in a specially
  provided cloud environment with established open source software. This
  always ensures that no personal data of the users is disclosed.
</p>
