<h2>Registration and Log in</h2>
<div class="row">
  <div class="col s12 m4">
    <br class="hide-on-small-only">
    <img alt="Registration and Log in" class="materialboxed responsive-img" src="{{ url_for('static', filename='images/manual/registration-and-log-in.png') }}">
  </div>

  <div class="col s12 m8">
    <p>
      Before you can start using the web platform, you need to create a user
      account. This requires only a few details: just a user name, an e-mail
      address and a password are needed. In order to register yourself, fill out
      the form on the <a href="{{ url_for('auth.register') }}">registration page</a>. After successful registration, the
      created account must be verified. To do this, follow the instructions
      given in the automatically sent e-mail. Afterwards, you can log in as
      usual with your username/email address and password in the log-in form
      located next to the registration button.
    </p>
  </div>
</div>
