<h2>Dashboard</h2>
<div class="row">
  <div class="col s12 m4">
    <br class="hide-on-small-only">
    <img alt="Dashboard" class="materialboxed responsive-img" src="{{ url_for('static', filename='images/manual/dashboard.png') }}">
  </div>

  <div class="col s12 m8">
    <p>
      The <a href="{{ url_for('main.dashboard') }}">dashboard</a> provides a central overview of all resources assigned to the
      user. These are <a href="{{ url_for('main.dashboard', _anchor='corpora') }}">corpora</a> and created <a href="{{ url_for('main.dashboard', _anchor='jobs') }}">jobs</a>. Corpora are freely composable
      annotated text collections and jobs are the initiated file processing
      procedures. One can search for jobs as well as corpus listings using
      the search field displayed above them.
    </p>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><i class="nopaque-icons">I</i> Corpus</span>
        <p>
          A corpus is a collection of texts that can be analyzed using the
          Corpus Analysis service. All texts must be in the verticalized text
          file format, which can be obtained via the Natural Language
          Processing service. It contains, in addition to the text,
          further annotations that are searchable in combination with optional
          metadata that can be added during your analysis. 
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><i class="nopaque-icons">J</i> Job</span>
        <p>
          A job is a construct that represents the execution of a service.
          It stores input files, output files, processing status, and options
          selected during creation. After submitting a job, you get redirected
          to a job overview page. This can be accessed again via the job list
          on the dashboard. Jobs will be deleted three months after creation,
          so we encourage you to download the results after a job is completed.
        </p>
      </div>
    </div>
  </div>
</div>
