<h2>Tagsets</h2>

<ul class="collapsible">
  <li class="active" id="simple_pos-tagset">
    <div class="collapsible-header">simple_pos</div>
    <div class="collapsible-body">
      <ul>
        <li>ADJ: adjective</li>
        <li>ADP: adposition</li>
        <li>ADV: adverb</li>
        <li>AUX: auxiliary verb</li>
        <li>CONJ: coordinating conjunction</li>
        <li>DET: determiner</li>
        <li>INTJ: interjection</li>
        <li>NOUN: noun</li>
        <li>NUM: numeral</li>
        <li>PART: particle</li>
        <li>PRON: pronoun</li>
        <li>PROPN: proper noun</li>
        <li>PUNCT: punctuation</li>
        <li>SCONJ: subordinating conjunction</li>
        <li>SYM: symbol</li>
        <li>VERB: verb</li>
        <li>X: other</li>
      </ul>
    </div>
  </li>

  <li id="english-ent_type-tagset">
    <div class="collapsible-header">English ent_type</div>
    <div class="collapsible-body">
      <ul>
        <li>CARDINAL: Numerals that do not fall under another type</li>
        <li>DATE: Absolute or relative dates or periods</li>
        <li>EVENT: Named hurricanes, battles, wars, sports events, etc.</li>
        <li>FAC: Buildings, airports, highways, bridges, etc.</li>
        <li>GPE: Countries, cities, states</li>
        <li>LANGUAGE: Any named language</li>
        <li>LAW: Named documents made into laws.</li>
        <li>LOC: Non-GPE locations, mountain ranges, bodies of water</li>
        <li>MONEY: Monetary values, including unit</li>
        <li>NORP: Nationalities or religious or political groups</li>
        <li>ORDINAL: "first" "second" etc.</li>
        <li>ORG: Companies, agencies, institutions, etc.</li>
        <li>PERCENT: Percentage, including "%"</li>
        <li>PERSON: People, including fictional</li>
        <li>PRODUCT: Objects, vehicles, foods, etc. (not services)</li>
        <li>QUANTITY: Measurements, as of weight or distance</li>
        <li>TIME: Times smaller than a day</li>
        <li>WORK_OF_ART: Titles of books, songs, etc.</li>
      </ul>
    </div>
  </li>

  <li id="english-pos-tagset">
    <div class="collapsible-header">English pos</div>
    <div class="collapsible-body">
      <ul>
        <li>ADD: email</li>
        <li>AFX: affix</li>
        <li>CC: conjunction, coordinating</li>
        <li>CD: cardinal number</li>
        <li>DT: determiner</li>
        <li>EX: existential there</li>
        <li>FW: foreign word</li>
        <li>HYPH: punctuation mark, hyphen</li>
        <li>IN: conjunction, subordinating or preposition</li>
        <li>JJ: adjective</li>
        <li>JJR: adjective, comparative</li>
        <li>JJS: adjective, superlative</li>
        <li>LS: list item marker</li>
        <li>MD: verb, modal auxiliary</li>
        <li>NFP: superfluous punctuation</li>
        <li>NN: noun, singular or mass</li>
        <li>NNP: noun, proper singular</li>
        <li>NNPS: noun, proper plural</li>
        <li>NNS: noun, plural</li>
        <li>PDT: predeterminer</li>
        <li>POS: possessive ending</li>
        <li>PRP: pronoun, personal</li>
        <li>PRP$: pronoun, possessive	RB: adverb</li>
        <li>RBR: adverb, comparative</li>
        <li>RBS: adverb, superlative</li>
        <li>RP: adverb, particle</li>
        <li>SYM: symbol</li>
        <li>TO: infinitival "to"</li>
        <li>UH: interjection</li>
        <li>VB: verb, base form</li>
        <li>VBD: verb, past tense</li>
        <li>VBG: verb, gerund or present participle</li>
        <li>VBN: verb, past participle</li>
        <li>VBP: verb, non-3rd person singular present</li>
        <li>VBZ: verb, 3rd person singular present</li>
        <li>WDT: wh-determiner</li>
        <li>WP: wh-pronoun, personal</li>
        <li>WP$: wh-pronoun, possessive</li>
        <li>WRB: wh-adverb</li>
        <li>XX: unknown</li>
        <li>``: opening quotation mark</li>
        <li>$: symbol, currency</li>
        <li>"": closing quotation mark</li>
        <li>: punctuation mark, comma</li>
        <li>-LRB-: left round bracket</li>
        <li>-RRB-: right round bracket</li>
        <li>.: punctuation mark, sentence closer</li>
        <li>:: punctuation mark, colon or ellipsis</li>
      </ul>
    </div>
  </li>

  <li id="german-ent_type-tagset">
    <div class="collapsible-header">German ent_type</div>
    <div class="collapsible-body">
      <ul>
        <li>LOC: Non-GPE locations, mountain ranges, bodies of water</li>
        <li>MISC: Miscellaneous entities, e.g. events, nationalities, products or works of art</li>
        <li>ORG: Companies, agencies, institutions, etc.</li>
        <li>PER: Named person or family.</li>
      </ul>
    </div>
  </li>

  <li id="german-pos-tagset">
    <div class="collapsible-header">German pos</div>
    <div class="collapsible-body">
      <ul>
        <li>ADJA: adjective, attributive</li>
        <li>ADJD: adjective, adverbial or predicative</li>
        <li>ADV: adverb</li>
        <li>APPO: postposition</li>
        <li>APPR: preposition; circumposition left</li>
        <li>APPRART: preposition with article</li>
        <li>APZR: circumposition right</li>
        <li>ART: definite or indefinite article</li>
        <li>CARD: cardinal number</li>
        <li>FM: foreign language material</li>
        <li>ITJ: interjection</li>
        <li>KOKOM: comparative conjunction</li>
        <li>KON: coordinate conjunction</li>
        <li>KOUI: subordinate conjunction with \zu\ and infinitive</li>
        <li>KOUS: subordinate conjunction with sentence</li>
        <li>NE: proper noun</li>
        <li>NN: noun, singular or mass</li>
        <li>NNE: proper noun</li>
        <li>PDAT: attributive demonstrative pronoun</li>
        <li>PDS: substituting demonstrative pronoun</li>
        <li>PIAT: attributive indefinite pronoun without determiner</li>
        <li>PIS: substituting indefinite pronoun</li>
        <li>PPER: non-reflexive personal pronoun</li>
        <li>PPOSAT: attributive possessive pronoun</li>
        <li>PPOSS: substituting possessive pronoun</li>
        <li>PRELAT: attributive relative pronoun</li>
        <li>PRELS: substituting relative pronoun</li>
        <li>PRF: reflexive personal pronoun</li>
        <li>PROAV: pronominal adverb</li>
        <li>PTKA: particle with adjective or adverb</li>
        <li>PTKANT: answer particle</li>
        <li>PTKNEG: negative particle</li>
        <li>PTKVZ: separable verbal particle</li>
        <li>PTKZU: "zu" before infinitive</li>
        <li>PWAT: attributive interrogative pronoun</li>
        <li>PWAV: adverbial interrogative or relative pronoun</li>
        <li>PWS: substituting interrogative pronoun</li>
        <li>TRUNC: word remnant</li>
        <li>VAFIN: finite verb, auxiliary</li>
        <li>VAIMP: imperative, auxiliary</li>
        <li>VAINF: infinitive, auxiliary</li>
        <li>VAPP: perfect participle, auxiliary</li>
        <li>VMFIN: finite verb, modal</li>
        <li>VMINF: infinitive, modal</li>
        <li>VMPP: perfect participle, modal</li>
        <li>VVFIN: finite verb, full</li>
        <li>VVIMP: imperative, full</li>
        <li>VVINF: infinitive, full</li>
        <li>VVIZU: infinitive with "zu" full</li>
        <li>VVPP: perfect participle, full</li>
        <li>XY: non-word containing non-letter</li>
        <li>$(: other sentence-internal punctuation mark</li>
        <li>$,: comma</li>
        <li>$.: sentence-final punctuation mark</li>
      </ul>
    </div>
  </li>
</ul>
