{% macro card_content(id_prefix) %}
<div class="row">
  <form id="corpus-analysis-concordance-expert-mode-form">
    <div class="input-field col s12 m9">
      <i class="material-icons prefix">search</i>
      <input class="validate corpus-analysis-action" id="corpus-analysis-concordance-form-query" name="query" type="text" required pattern=".*\S+.*" placeholder="Type in your query via CQL"></input>
      <span class="error-color-text helper-text hide" id="corpus-analysis-concordance-error"></span>
      <a href="{{ url_for('main.manual', _anchor='manual-cqp-query-language') }}" target="manual" style="margin-left: 40px;"><i class="material-icons" style="font-size: inherit;">help</i> Corpus Query Language tutorial</a>
      <span> | </span>
      <a href="{{ url_for('main.manual', _anchor='manual-tagsets') }}" target="manual"><i class="material-icons" style="font-size: inherit;">info</i> Tagsets</a>
    </div>
    <div class="input-field col s12 m3">
      <i class="material-icons prefix">arrow_forward</i>
      <input class="validate corpus-analysis-action" id="corpus-analysis-concordance-form-subcorpus-name" name="subcorpus-name" type="text" required pattern="^[A-Z][a-z0-9\-]*" value="Last"></input>
      <label for="corpus-analysis-concordance-form-subcorpus-name">Subcorpus name</label>
    </div>
    <div class="col s12 m3 l3 right-align">
      <p class="hide-on-small-only">&nbsp;</p>
      <button class="btn waves-effect waves-light corpus-analysis-action" id="corpus-analysis-concordance-form-submit" type="submit" name="submit">
        Send
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

<div id="corpus-analysis-concordance-switch-to-query-builder-submit-modal" class="modal">
  <div class="modal-content">
    <h4>Switch to Query Builder</h4>
    <p>Switching back to the query builder can cause elements the query builder does not recognize to become lost. Continue?</p>
  </div>
  <div class="modal-footer">
    <a class="btn modal-close waves-effect waves-light">Cancel</a>
    <a class="btn modal-close red waves-effect waves-light switch-action" data-switch-action="confirm">Switch to Query Builder</a>
  </div>
</div>
{% endmacro %}
