{% macro card_content(id_prefix) %}
<form id="corpus-analysis-concordance-query-builder-form">
  <div class="row">
    <div class="col s8" id="corpus-analysis-concordance-query-builder-input-field-container">
      <div id="corpus-analysis-concordance-query-builder-input-field">
        <a class="query-element-target btn-floating btn-small blue-grey lighten-4 waves-effect waves-light tooltipped" style="margin-bottom:10px; margin-right:5px;" draggable="true" data-position="bottom" data-tooltip="Add a token to your query">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
    <div class="col s1 center-align">
      <a class="btn-floating btn waves-effect waves-light red" id="corpus-analysis-concordance-delete-query-button" style="margin-top:18px;">
        <i class="material-icons">delete</i>
      </a>
    </div>
    <div class="input-field col s3">
      <i class="material-icons prefix">arrow_forward</i>
      <input class="validate corpus-analysis-action" id="corpus-analysis-concordance-form-subcorpus-name" name="subcorpus-name" type="text" required pattern="^[A-Z][a-z0-9\-]*" value="Last"></input>
      <label for="corpus-analysis-concordance-form-subcorpus-name">Subcorpus name</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <span class="error-color-text helper-text hide" id="corpus-analysis-concordance-error"></span>
      <a href="{{ url_for('main.manual', _anchor='manual-cqp-query-language') }}" target="manual"><i class="material-icons" style="font-size: inherit;">help</i> Corpus Query Language tutorial</a>
      <span> | </span>
      <a href="{{ url_for('main.manual', _anchor='manual-tagsets') }}" target="manual"><i class="material-icons" style="font-size: inherit;">info</i> Tagsets</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 hide">
      <p><i> Preview:</i></p>
      <p id="corpus-analysis-concordance-query-preview"></p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p></p>
      <a class="btn-small waves-effect waves-light tooltipped modal-trigger" href="#corpus-analysis-concordance-positional-attr-modal" data-position="bottom" data-tooltip="Search for any token, for example a word, a lemma or a part-of-speech tag">Add new token to your query</a>
      <a class="btn-small waves-effect waves-light tooltipped modal-trigger" href="#corpus-analysis-concordance-structural-attr-modal" data-position="bottom" data-tooltip="Structure your query with structural attributes, for example sentences, entities or annotate the text">Add structural attributes to your query</a>
      <a class="btn-small waves-effect waves-light tooltipped dropdown-trigger disabled" data-target="corpus-analysis-concordance-token-incidence-modifiers-dropdown" data-toggle-area="token-incidence-modifiers" data-position="top" data-tooltip="Incidence Modifiers are special characters or patterns, <br>which determine how often a character represented previously should occur.">incidence modifiers</a>
      <a href="{{ url_for('main.manual', _anchor='manual-query-builder') }}" target="manual"><i class="material-icons left" style="color:black">help_outline</i></a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 right-align">
      <p class="hide-on-small-only">&nbsp;</p>
      <button class="btn waves-effect waves-light corpus-analysis-action" type="submit" name="submit">
        Send
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</form>

<ul id="corpus-analysis-concordance-token-incidence-modifiers-dropdown" class="dropdown-content">
  {{ incidence_modifiers_dropdown_content("token") }}
</ul>

{{ exactly_n_modal_content("token") }}
{{ exactly_nm_modal_content("token") }}

{% endmacro %}

{% macro structural_attribute_modal(id_prefix) %}
<div id="corpus-analysis-concordance-structural-attr-modal" class="modal">
  <div class="modal-content">
    <div class="attr-modal-header">
      <h5>Which structural attribute do you want to add to your query?<a href="{{ url_for('main.manual', _anchor='add-structural-attribute-tutorial') }}" target="manual"><i class="material-icons left" id="corpus-analysis-concordance-add-structural-attribute-tutorial-info-icon">help_outline</i></a></h5>
    </div>
    <p></p>
    <br>
    <div class="row">
      <div class="col s12">
        <a class="btn-small waves-effect waves-light" data-structural-attr-modal-action-button="sentence" data-toggle-area="sentence-button">sentence</a>
        <a class="btn-small waves-effect waves-light" data-structural-attr-modal-action-button="entity" data-toggle-area="entity-button">entity</a>
      </div>
    </div>
    <div id="corpus-analysis-concordance-entity-builder" data-toggle-area="entity-builder" class="hide">
      <p></p>
      <br>
      <div class="row">
        <a class="btn waves-effect waves-light col ent-type-selection-action" data-ent-type="any" data-toggle-area="any-type-entity-button">Add Entity of any type</a>
        <p class="col s1 l1"></p>
        <div class= "input-field col s3">
          <select id="corpus-analysis-concordance-english-ent-type-selection" name="englishenttype" class="ent-type-selection-action" data-ent-type="english">
            <option value="default" disabled selected>English ent_type</option>
            <option value="CARDINAL">CARDINAL</option>
            <option value="DATE">DATE</option>
            <option value="EVENT">EVENT</option>
            <option value="FAC">FAC</option>
            <option value="GPE">GPE</option>
            <option value="LANGUAGE">LANGUAGE</option>
            <option value="LAW">LAW</option>
            <option value="LOC">LOC</option>
            <option value="MONEY">MONEY</option>
            <option value="NORP">NORP</option>
            <option value="ORDINAL">ORDINAL</option>
            <option value="ORG">ORG</option>
            <option value="PERCENT">PERCENT</option>
            <option value="PERSON">PERSON</option>
            <option value="PRODUCT">PRODUCT</option>
            <option value="QUANTITY">QUANTITY</option>
            <option value="TIME">TIME</option>
            <option value="WORK_OF_ART">WORK_OF_ART</option>
          </select>
          <label>Entity Type</label>
        </div>
        <div class= "input-field col s3">
          <select id="corpus-analysis-concordance-german-ent-type-selection" name="germanenttype" class="ent-type-selection-action" data-ent-type="german">
            <option value="default" disabled selected>German ent_type</option>
            <option value="LOC">LOC</option>
            <option value="MISC">MISC</option>
            <option value="ORG">ORG</option>
            <option value="PER">PER</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro positional_attribute_modal(id_prefix) %}
<div id="corpus-analysis-concordance-positional-attr-modal" class="modal no-autoinit">
  <div class="modal-content">
    <div class="row attr-modal-header">
      <p></p>
      <div class="col s12">
        <h5>Which kind of token are you looking for? <a href="{{ url_for('main.manual', _anchor='add-new-token-tutorial') }}" target="manual"><i class="material-icons left" id="corpus-analysis-concordance-token-tutorial-info-icon">help_outline</i></a></h5>
      </div>
      <div class="input-field col s3" style="margin-left:42px;">
        <select id="corpus-analysis-concordance-positional-attr-selection">
          <option value="word" selected>word</option>
          <option value="lemma" >lemma</option>
          <option value="english-pos">english pos</option>
          <option value="german-pos">german pos</option>
          <option value="simple_pos">simple_pos</option>
          <option value="empty-token">empty token</option>
        </select>
      </div>
    </div>
    <p></p>
    <div id="corpus-analysis-concordance-token-query"></div>
    <template id="corpus-analysis-concordance-token-query-template">
      <div class="row">
        <div class="token-query-template-content"></div>
        <div class="col s4" style="margin-top:15px;">
          <a class="btn-small waves-effect waves-light disabled" data-condition-pretty-text="or" data-condition-cql-text="| ">or</a>
          <a class="btn-small waves-effect waves-light disabled" data-condition-pretty-text="and" data-condition-cql-text="& ">and</a>
          <a class="btn-floating waves-effect waves-light red" data-token-query-content-action="delete" style="margin-left:8px;"><i class="material-icons right">delete</i></a>
        </div>
      </div>
    </template>
    <div class="row">
      <div id="corpus-analysis-concordance-token-builder-content"></div>

      <template id="ignore-case-checkbox-template">
        <span class="col s1 center-align tooltipped" style="margin-top: 22px;" data-position="bottom" data-tooltip="Ignore Case">
          <label>
            <input type="checkbox" class="filled-in"/>
            <span>%c</span>
          </label>
        </span>
      </template>

      <template class="token-builder-section" data-token-builder-section="word">
        <div class= "input-field col s4" data-kind-of-token="word">
          <i class="material-icons prefix">mode_edit</i>
          <input placeholder="Type in your word" type="text">
        </div>
      </template>

      <template class="token-builder-section" data-token-builder-section="lemma">
        <div class= "input-field col s4" data-kind-of-token="lemma">
          <i class="material-icons prefix">mode_edit</i>
          <input placeholder="Type in your lemma" type="text">
        </div>
      </template>

      <template class="token-builder-section" data-token-builder-section="english-pos">
        <div class= "input-field col s4" data-kind-of-token="english-pos">
          <select name="englishpos">
            <option value="" disabled selected>English pos tagset</option>
            <option value="ADD">email</option>
            <option value="AFX">affix</option>
            <option value="CC">conjunction, coordinating</option>
            <option value="CD">cardinal number</option>
            <option value="DT">determiner</option>
            <option value="EX">existential there</option>
            <option value="FW">foreign word</option>
            <option value="HYPH">punctuation mark, hyphen</option>
            <option value="IN">conjunction, subordinating or preposition</option>
            <option value="JJ">adjective</option>
            <option value="JJR">adjective, comparative</option>
            <option value="JJS">adjective, superlative</option>
            <option value="LS">list item marker</option>
            <option value="MD">verb, modal auxillary</option>
            <option value="NFP">superfluous punctuation</option>
            <option value="NN">noun, singular or mass</option>
            <option value="NNP">noun, proper singular</option>
            <option value="NNPS">noun, proper plural</option>
            <option value="NNS">noun, plural</option>
            <option value="PDT">predeterminer</option>
            <option value="POS">possessive ending</option>
            <option value="PRP">pronoun, personal</option>
            <option value="PRP$">pronoun, possessive</option>
            <option value="RBR">adverb, comparative</option>
            <option value="RBS">adverb, superlative</option>
            <option value="RP">adverb, particle</option>
            <option value="SYM">symbol</option>
            <option value="TO">infinitival to</option>
            <option value="UH">interjection</option>
            <option value="VB">verb, base form</option>
            <option value="VBD">verb, past tense</option>
            <option value="VBG">verb, gerund or present participle</option>
            <option value="VBN">verb, past participle</option>
            <option value="VBP">verb, non-3rd person singular present</option>
            <option value="VBZ">verb, 3rd person singular present</option>
            <option value="WDT">wh-determiner</option>
            <option value="WP">wh-pronoun, personal</option>
            <option value="WP$">wh-pronoun, possessive</option>
            <option value="WRB">wh-adverb</option>
            <option value="XX">unknown</option>
            <option value="``">opening quotation mark</option>
            <option value="$">symbol, currency</option>
            <option value='""'>closing quotation mark</option>
            <option value="-LRB-">left round bracket</option>
            <option value="-RRB-">right round bracket</option>
            <option value=".">punctuation mark, sentence closer</option>
            <option value=":">punctuation mark, colon or ellipsis</option>
          </select>
          <label>Part-of-speech tags</label>
        </div>
      </template>

      <template class="token-builder-section" data-token-builder-section="german-pos">
        <div class= "input-field col s4" data-kind-of-token="german-pos">
          <select name="germanpos">
            <option value="" disabled selected>German pos tagset</option>
            <option value="ADJA">adjective, attributive</option>
            <option value="ADJD">adjective, adverbial or predicative</option>
            <option value="ADV">adverb</option>
            <option value="APPO">postposition</option>
            <option value="APPR">preposition; circumposition left</option>
            <option value="APPRART">preposition with article</option>
            <option value="APZR">circumposition right</option>
            <option value="ART">definite or indefinite article</option>
            <option value="CARD">cardinal number</option>
            <option value="FM">foreign word</option>
            <option value="ITJ">interjection</option>
            <option value="KOKOM">comparative conjunction</option>
            <option value="KON">coordinating conjunction</option>
            <option value="KOUI">subordinating conjunction with "zu" and infinitive</option>
            <option value="KOUS">subordinating conjunction with sentence</option>
            <option value="NE">proper noun</option>
            <option value="NN">noun, singular or mass</option>
            <option value="NNE">proper noun</option>
            <option value="PDAT">attributive demonstrative pronoun</option>
            <option value="PDS">substituting demonstrative pronoun</option>
            <option value="PIAT">attributive indefinite pronoun without determiner</option>
            <option value="PIS">substituting indefinite pronoun</option>
            <option value="PPER">non-reflexive personal pronoun</option>
            <option value="PPOSAT">attributive possessive pronoun</option>
            <option value="PPOSS">substituting possessive pronoun</option>
            <option value="PRELAT">attributive relative pronoun</option>
            <option value="PRELS">substituting relative pronoun</option>
            <option value="PRF">reflexive personal pronoun</option>
            <option value="PROAV">pronominal adverb</option>
            <option value="PTKA">particle with adjective or adverb</option>
            <option value="PTKANT">answer particle</option>
            <option value="PTKNEG">negative particle</option>
            <option value="PTKVZ">separable verbal particle</option>
            <option value="PTKZU">"zu" before infinitive</option>
            <option value="PWAT">attributive interrogative pronoun</option>
            <option value="PWAV">adverbial interrogative or relative pronoun</option>
            <option value="PWS">substituting interrogative pronoun</option>
            <option value="TRUNC">word remnant</option>
            <option value="VAFIN">finite verb, auxiliary</option>
            <option value="VAIMP">imperative, auxiliary</option>
            <option value="VAINF">infinitive, auxiliary</option>
            <option value="VAPP">perfect participle, auxiliary</option>
            <option value="VMFIN">finite verb, modal</option>
            <option value="VMINF">infinitive, modal</option>
            <option value="VMPP">perfect participle, modal</option>
            <option value="VVFIN">finite verb, full</option>
            <option value="VVIMP">imperative, full</option>
            <option value="VVINF">infinitive, full</option>
            <option value="VVIZU">infinitive with "zu", full</option>
            <option value="VVPP">perfect participle, full</option>
            <option value="XY">non-word containing non-letter</option>
            <option value="$(">other sentence-internal punctuation mark</option>
            <option value="$,">comma</option>
            <option value="$.">sentence-final punctuation mark</option>
          </select>
          <label>Part-of-speech tags</label>
        </div>
      </template>

      <template class="token-builder-section" data-token-builder-section="simple_pos">
        <div class= "input-field col s4" data-kind-of-token="simple_pos">
          <select name="simplepos">
            <option value="" disabled selected>simple_pos tagset</option>
            <option value="ADJ">adjective</option>
            <option value="ADP">adposition</option>
            <option value="ADV">adverb</option>
            <option value="AUX">auxiliary verb</option>
            <option value="CONJ">coordinating conjunction</option>
            <option value="DET">determiner</option>
            <option value="INTJ">interjection</option>
            <option value="NOUN">noun</option>
            <option value="NUM">numeral</option>
            <option value="PART">particle</option>
            <option value="PRON">pronoun</option>
            <option value="PROPN">proper noun</option>
            <option value="PUNCT">punctuation</option>
            <option value="SCONJ">subordinating conjunction</option>
            <option value="SYM">symbol</option>
            <option value="VERB">verb</option>
            <option value="X">other</option>
          </select>
          <label>Simple part-of-speech tags</label>
        </div>
      </template>

      <div class="col s4" data-toggle-area="condition-option-container">
        <a class="btn-small tooltipped waves-effect waves-light disabled positional-attr-options-action-button" data-options-action="or" data-toggle-area="or" data-position="bottom" data-tooltip="You can add another condition to your token. <br>At least one must be fulfilled">or</a>
        <a class="btn-small tooltipped waves-effect waves-light disabled positional-attr-options-action-button" data-options-action="and" data-toggle-area="and" data-position="bottom" data-tooltip="You can add another condition to your token. <br>Both must be fulfilled">and</a>
        <p class="btn-floating waves-effect waves-light" id="corpus-analysis-concordance-token-submit" style="margin-left:10px;">
          <i class="material-icons right">send</i>
        </p>
      </div>

      <div class="hide" id="corpus-analysis-concordance-no-value-message"><i>No value entered!</i></div>

    </div>
    <div id="corpus-analysis-concordance-token-edit-options" data-toggle-area="input-field-options">
      <div class="row">
        <h6>Options to edit your token: <a href="{{ url_for('main.manual', _anchor='edit-options-tutorial') }}" target="manual"><i class="material-icons left" id="corpus-analysis-concordance-edit-options-tutorial-info-icon">help_outline</i></a></h6>
      </div>
      <p></p>
      <div class="row">
        <div class="col s12" >
          <a class="btn-small waves-effect waves-light tooltipped positional-attr-options-action-button" data-options-action="wildcard-char" data-position="top" data-tooltip="Look for a variable character (also called wildcard character)">Wildcard character</a>
          <a class="btn-small waves-effect waves-light tooltipped positional-attr-options-action-button" data-options-action="option-group" data-position="top" data-tooltip="Find character sequences from a list of options">Option Group</a>
          <a class="dropdown-trigger btn-small waves-effect waves-light disabled" href="#" data-target="corpus-analysis-concordance-character-incidence-modifiers-dropdown" data-toggle-area="incidence-modifiers" data-position="top" data-tooltip="Incidence Modifiers are special characters or patterns, <br>which determine how often a character represented previously should occur.">incidence modifiers</a>
          <span>
            <label>
              <input type="checkbox" class="filled-in" id="corpus-analysis-concordance-ignore-case-checkbox"/>
              <span>Ignore Case</span>
            </label>
          </span>
        </div>

        <ul id="corpus-analysis-concordance-character-incidence-modifiers-dropdown" class="dropdown-content">
          {{ incidence_modifiers_dropdown_content("character") }}
        </ul>

      </div>
    </div>

    {{ exactly_n_modal_content("character") }}
    {{ exactly_nm_modal_content("character") }}

  </div>
</div>
{% endmacro %}

{% macro incidence_modifiers_dropdown_content(type) %}
<li><a class="incidence-modifier-selection" data-token="+" data-incidence-modifier="one-or-more">one or more (+)</a></li>
<li><a class="incidence-modifier-selection" data-token="*" data-incidence-modifier="zero-or-more">zero or more (*)</a></li>
<li><a class="incidence-modifier-selection" data-token="?" data-incidence-modifier="zero-or-one">zero or one (?)</a></li>
<li><a class="modal-trigger" href="#corpus-analysis-concordance-exactly-n-{{ type }}-modal">exactly n ({n})</a></li>
<li><a class="modal-trigger" href="#corpus-analysis-concordance-between-nm-{{ type }}-modal">between n and m ({n,m})</a></li>
{% endmacro %}

{% macro exactly_n_modal_content(type) %}
<div id="corpus-analysis-concordance-exactly-n-{{ type }}-modal" class="modal">
  <div class="row modal-content">
    <div class="input-field col s10">
      <i class="material-icons prefix">mode_edit</i>
      <input class="n-m-input" placeholder="type in a number for 'n'" type="text" data-value-type="n">
    </div>
    <div class="col s2">
      <p class="btn-floating waves-effect waves-light n-m-submit-button" data-modal-id="corpus-analysis-concordance-exactly-n-{{ type }}-modal">
        <i class="material-icons right">send</i>
      </p>
    </div>
  </div>
</div>
{% endmacro %}

{% macro exactly_nm_modal_content(type) %}
<div id="corpus-analysis-concordance-between-nm-{{ type }}-modal" class="modal">
  <div class="row modal-content">
    <div class="input-field col s5">
        <i class="material-icons prefix">mode_edit</i>
        <input class="n-m-input" placeholder="number for 'n'" type="text" data-value-type="n">
    </div>
    <div class="input-field col s5">
        <i class="material-icons prefix">mode_edit</i>
        <input class="n-m-input" placeholder="number for 'm'" type="text" data-value-type="m">
    </div>
    <div class="col s2">
      <p class="btn-floating waves-effect waves-light n-m-submit-button" data-modal-id="corpus-analysis-concordance-between-nm-{{ type }}-modal">
        <i class="material-icons right">send</i>
      </p>
    </div>
  </div>
</div>
{% endmacro %}
