#corpus-analysis-concordance-query-builder-input-field {
  border-bottom: #9E9E9E 1px solid;
  min-height: 38px;
  margin-top: 23px;
}

#corpus-analysis-concordance-query-builder-input-field-placeholder {
  color: #9E9E9E;
}

.modal-content {
  overflow-x: hidden;
}

#corpus-analysis-concordance-positional-attr-modal, #corpus-analysis-concordance-corpus-analysis-concordance-structural-attr-modal {
  width: 70%;
}

#corpus-analysis-concordance-general-options-query-builder-tutorial-info-icon {
  color: black;
}

#corpus-analysis-concordance-insert-query-button {
  background-color: #00426f;
  text-align: center;
}

.attr-modal-header {
  background-color: #f2eff7;
  padding: 15px;
  padding-left: 25px;
  border-top: 10px solid #6B3F89;
  margin-left: -24px;
  margin-top: -24px;
  margin-right: -24px;
}

.attr-modal-header h6 {
  margin-left: 15px;
}

#corpus-analysis-concordance-add-structural-attribute-tutorial-info-icon {
  color: black;
}

[data-structural-attr-modal-action-button="sentence"]{
  background-color:#FD9720 !important;
}

[data-structural-attr-modal-action-button="entity"]{
  background-color: #A6E22D !important;
}

[data-structural-attr-modal-action-button="meta-data"]{
  background-color: #2FBBAB !important;
}

#corpus-analysis-concordance-no-value-metadata-message {
  padding-top: 25px;
  margin-left: -20px;
}

.attr-modal-header.input-field {
  margin-left: 41px;
}

#corpus-analysis-concordance-token-attr {
  margin-left: 41px;
}

#corpus-analysis-concordance-token-tutorial-info-icon {
  color: black;
}

#corpus-analysis-concordance-no-value-message {
  padding-top: 25px;
  margin-left: -20px;
}

#corpus-analysis-concordance-token-edit-options h6 {
  margin-left: 15px;
}

#corpus-analysis-concordance-edit-options-tutorial-info-icon {
  color: black;
}

[data-toggle-area="input-field-options"] a {
  margin-right: 10px;
}

[data-target="corpus-analysis-concordance-character-incidence-modifiers-dropdown"], [data-target="corpus-analysis-concordance-token-incidence-modifiers-dropdown"] {
  background-color: #2FBBAB !important;
}

#corpus-analysis-concordance-exactly-n-token-modal, #corpus-analysis-concordance-between-nm-token-modal {
  width: 30%;
}

[data-modal-id="corpus-analysis-concordance-exactly-n-token-modal"], [data-modal-id="corpus-analysis-concordance-between-nm-token-modal"] {
  margin-top: 15px !important;
}

[data-options-action="and"], [data-options-action="or"] {
  background-color: #fc0 !important;
}

[data-type="start-sentence"], [data-type="end-sentence"] {
  background-color: #FD9720;
}

[data-type="start-empty-entity"], [data-type="start-entity"], [data-type="end-entity"] {
  background-color: #a6e22d;
}

[data-type="text-annotation"]{
  background-color: #2FBBAB;
}

[data-type="token"] {
  background-color: #28B3D1;
}

[data-type="token-incidence-modifier"] {
  background-color: #4db6ac;
  color: white;
}
