[data-corpus-status="UNPREPARED"] {
  --corpus-status-content: "unprepared";
}

[data-corpus-status="SUBMITTED"] {
  --corpus-status-content: "submitted";
}

[data-corpus-status="QUEUED"] {
  --corpus-status-content: "queued";
}

[data-corpus-status="BUILDING"] {
  --corpus-status-content: "building";
}

[data-corpus-status="BUILT"] {
  --corpus-status-content: "built";
}

[data-corpus-status="FAILED"] {
  --corpus-status-content: "failed";
}

[data-corpus-status="STARTING_ANALYSIS_SESSION"] {
  --corpus-status-content: "starting analysis session";
}

[data-corpus-status="RUNNING_ANALYSIS_SESSION"] {
  --corpus-status-content: "running analysis session";
}

[data-corpus-status="CANCELING_ANALYSIS_SESSION"] {
  --corpus-status-content: "canceling analysis session";
}

.corpus-status-text:empty::before {
  content: var(--corpus-status-content);
}
