[data-corpus-status="UNPREPARED"] {
  --corpus-status-color: #9e9e9e;
}

[data-corpus-status="QUEUED"] {
  --corpus-status-color: #2196f3;
}

[data-corpus-status="BUILDING"] {
  --corpus-status-color: #ffc107;
}

[data-corpus-status="BUILT"] {
  --corpus-status-color: #4caf50;
}

[data-corpus-status="FAILED"] {
  --corpus-status-color: #f44336;
}

[data-corpus-status="STARTING_ANALYSIS_SESSION"] {
  --corpus-status-color: #2196f3;
}

[data-corpus-status="RUNNING_ANALYSIS_SESSION"] {
  --corpus-status-color: #4caf50;
}

[data-corpus-status="CANCELING_ANALYSIS_SESSION"] {
  --corpus-status-color: #ff5722;
}

.corpus-status-color {
  background-color: var(--corpus-status-color) !important;
}

.corpus-status-color-border {
  border-color: var(--corpus-status-color) !important;
}

.corpus-status-color-text {
  color: var(--corpus-status-color) !important;
}
