[data-job-status="INITIALIZING"] {
  --job-status-content: "initializing";
}

[data-job-status="SUBMITTED"] {
  --job-status-content: "submitted";
}

[data-job-status="QUEUED"] {
  --job-status-content: "queued";
}

[data-job-status="RUNNING"] {
  --job-status-content: "running";
}

[data-job-status="CANCELING"] {
  --job-status-content: "canceling";
}

[data-job-status="CANCELED"] {
  --job-status-content: "canceled";
}

[data-job-status="COMPLETED"] {
  --job-status-content: "completed";
}

[data-job-status="FAILED"] {
  --job-status-content: "failed";
}

.job-status-text:empty::before {
  content: var(--job-status-content);
}
