[data-job-status="INITIALIZING"] {
  --job-status-color: #9e9e9e;
}

[data-job-status="SUBMITTED"] {
  --job-status-color: #9e9e9e;
}

[data-job-status="QUEUED"] {
  --job-status-color: #2196f3;
}

[data-job-status="RUNNING"] {
  --job-status-color: #ffc107;
}

[data-job-status="CANCELING"] {
  --job-status-color: #ff5722;
}

[data-job-status="CANCELED"] {
  --job-status-color: #ff5722;
}

[data-job-status="COMPLETED"] {
  --job-status-color: #4caf50;
}

[data-job-status="FAILED"] {
  --job-status-color: #f44336;
}

.job-status-color {
  background-color: var(--job-status-color) !important;
}

.job-status-color-border {
  border-color: var(--job-status-color) !important;
}

.job-status-color-text {
  color: var(--job-status-color) !important;
}
