@font-face {
  font-family: 'Nopaque Icons';
  font-style: normal;
  font-weight: 400;
  /* For IE6-8 */
  /* src: url("../font/NopaqueIcons-Regular.eot"); */
  src: local('nopaque Icons'),
    local('NopaqueIcons-Regular'),
    url("../font/NopaqueIcons-Regular.woff2") format('woff2'),
    url("../font/NopaqueIcons-Regular.woff") format('woff'),
    url("../font/nopaque_icons/NopaqueIcons-Regular.otf") format('opentype');
}

.nopaque-icons {
  font-family: 'Nopaque Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

[data-nopaque-icon="speedometer"] {
  --nopaque-icon-character: "A";
  --nopaque-negative-icon-character: "a";
}

[data-nopaque-icon="cloud-processes"] {
  --nopaque-icon-character: "B";
  --nopaque-negative-icon-character: "b";
}

[data-nopaque-icon="account-circle"] {
  --nopaque-icon-character: "C";
  --nopaque-negative-icon-character: "c";
}

[data-nopaque-icon="meshed-gears"] {
  --nopaque-icon-character: "D";
  --nopaque-negative-icon-character: "d";
}

[data-nopaque-icon="file-setup-pipeline"] {
  --nopaque-icon-character: "E";
  --nopaque-negative-icon-character: "e";
}

[data-nopaque-icon="tesseract-ocr-pipeline"],
[data-nopaque-icon="transkribus-htr-pipeline"] {
  --nopaque-icon-character: "F";
  --nopaque-negative-icon-character: "f";
}

[data-nopaque-icon="spacy-nlp-pipeline"] {
  --nopaque-icon-character: "G";
  --nopaque-negative-icon-character: "g";
}

[data-nopaque-icon="corpus-analysis"] {
  --nopaque-icon-character: "H";
  --nopaque-negative-icon-character: "h";
}

[data-nopaque-icon="file-cabinet"] {
  --nopaque-icon-character: "I";
  --nopaque-negative-icon-character: "i";
}

[data-nopaque-icon="suitcase"] {
  --nopaque-icon-character: "J";
  --nopaque-negative-icon-character: "j";
}

[data-nopaque-icon="wrench"] {
  --nopaque-icon-character: "K";
  --nopaque-negative-icon-character: "k";
}

.nopaque-icons[data-nopaque-icon]:empty::before {
    content: var(--nopaque-icon-character);
}

.nopaque-icons.negative[data-nopaque-icon]:empty::before{
    content: var(--nopaque-negative-icon-character);
}
