.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="PERSON"] {
  background-color: #a6e22d !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="PERSON"] {
  background-color: #a6e22d !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="PERSON"] {
  background-color: #a6e22d !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="PER"] {
  background-color: #a6e22d !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="PER"] {
  background-color: #a6e22d !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="PER"] {
  background-color: #a6e22d !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="NORP"] {
  background-color: #ef60b4 !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="NORP"] {
  background-color: #ef60b4 !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="NORP"] {
  background-color: #ef60b4 !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="FACILITY"] {
  background-color: #43c6fc !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="FACILITY"] {
  background-color: #43c6fc !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="FACILITY"] {
  background-color: #43c6fc !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="ORG"] {
  background-color: #43c6fc !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="ORG"] {
  background-color: #43c6fc !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="ORG"] {
  background-color: #43c6fc !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="GPE"] {
  background-color: #fd9720 !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="GPE"] {
  background-color: #fd9720 !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="GPE"] {
  background-color: #fd9720 !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="LOC"] {
  background-color: #fd9720 !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="LOC"] {
  background-color: #fd9720 !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="LOC"] {
  background-color: #fd9720 !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="PRODUCT"] {
  background-color: #a99dfb !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="PRODUCT"] {
  background-color: #a99dfb !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="PRODUCT"] {
  background-color: #a99dfb !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="MISC"] {
  background-color: #a99dfb !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="MISC"] {
  background-color: #a99dfb !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="MISC"] {
  background-color: #a99dfb !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="EVENT"] {
  background-color: #fc0 !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="EVENT"] {
  background-color: #fc0 !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="EVENT"] {
  background-color: #fc0 !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="WORK_OF_ART"] {
  background-color: #fc0 !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="WORK_OF_ART"] {
  background-color: #fc0 !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="WORK_OF_ART"] {
  background-color: #fc0 !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="LANGUAGE"] {
  background-color: #fc0 !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="LANGUAGE"] {
  background-color: #fc0 !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="LANGUAGE"] {
  background-color: #fc0 !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="DATE"] {
  background-color: #2fbbab !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="DATE"] {
  background-color: #2fbbab !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="DATE"] {
  background-color: #2fbbab !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="TIME"] {
  background-color: #2fbbab !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="TIME"] {
  background-color: #2fbbab !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="TIME"] {
  background-color: #2fbbab !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="PERCENT"] {
  background-color: #bbb !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="PERCENT"] {
  background-color: #bbb !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="PERCENT"] {
  background-color: #bbb !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="MONEY"] {
  background-color: #bbb !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="MONEY"] {
  background-color: #bbb !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="MONEY"] {
  background-color: #bbb !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="QUANTITY"] {
  background-color: #bbb !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="QUANTITY"] {
  background-color: #bbb !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="QUANTITY"] {
  background-color: #bbb !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="ORDINAL"] {
  background-color: #bbb !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="ORDINAL"] {
  background-color: #bbb !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="ORDINAL"] {
  background-color: #bbb !important;
}

.s-attr-color[data-s-attr="ent_type"][data-s-attr-value="CARDINAL"] {
  background-color: #bbb !important;
}

.s-attr-color-text[data-s-attr="ent_type"][data-s-attr-value="CARDINAL"] {
  background-color: #bbb !important;
}

.s-attr-color-border[data-s-attr="ent_type"][data-s-attr-value="CARDINAL"] {
  background-color: #bbb !important;
}

.s-attr .p-attr {
  background-color: inherit;
}
