[data-s-attr="ent_type"][data-s-attr-value="PERSON"] {
  --s-attr-color: #a6e22d;
}

[data-s-attr="ent_type"][data-s-attr-value="PER"] {
  --s-attr-color: #a6e22d;
}

[data-s-attr="ent_type"][data-s-attr-value="NORP"] {
  --s-attr-color: #ef60b4;
}

[data-s-attr="ent_type"][data-s-attr-value="FACILITY"] {
  --s-attr-color: #43c6fc;
}

[data-s-attr="ent_type"][data-s-attr-value="ORG"] {
  --s-attr-color: #43c6fc;
}

[data-s-attr="ent_type"][data-s-attr-value="GPE"] {
  --s-attr-color: #fd9720;
}

[data-s-attr="ent_type"][data-s-attr-value="LOC"] {
  --s-attr-color: #fd9720;
}

[data-s-attr="ent_type"][data-s-attr-value="PRODUCT"] {
  --s-attr-color: #a99dfb;
}

[data-s-attr="ent_type"][data-s-attr-value="MISC"] {
  --s-attr-color: #a99dfb;
}

[data-s-attr="ent_type"][data-s-attr-value="EVENT"] {
  --s-attr-color: #fc0;
}

[data-s-attr="ent_type"][data-s-attr-value="WORK_OF_ART"] {
  --s-attr-color: #fc0;
}

[data-s-attr="ent_type"][data-s-attr-value="LANGUAGE"] {
  --s-attr-color: #fc0;
}

[data-s-attr="ent_type"][data-s-attr-value="DATE"] {
  --s-attr-color: #2fbbab;
}

[data-s-attr="ent_type"][data-s-attr-value="TIME"] {
  --s-attr-color: #2fbbab;
}

[data-s-attr="ent_type"][data-s-attr-value="PERCENT"] {
  --s-attr-color: #bbb;
}

[data-s-attr="ent_type"][data-s-attr-value="MONEY"] {
  --s-attr-color: #bbb;
}

[data-s-attr="ent_type"][data-s-attr-value="QUANTITY"] {
  --s-attr-color: #bbb;
}

[data-s-attr="ent_type"][data-s-attr-value="ORDINAL"] {
  --s-attr-color: #bbb;
}

[data-s-attr="ent_type"][data-s-attr-value="CARDINAL"] {
  --s-attr-color: #bbb;
}

.s-attr-color {
  background-color: var(--s-attr-color) !important;
}

.s-attr-color-border {
  border-color: var(--s-attr-color) !important;
}

.s-attr-color-text {
  color: var(--s-attr-color) !important;
}
