[data-service="file-setup-pipeline"] {
  --service-color:          #d5dc95;
  --service-color-lighten:  #f2f3e1;
  --service-color-darken:   #a1b300;
}

[data-service="tesseract-ocr-pipeline"] {
  --service-color:          #a9d8c8;
  --service-color-lighten:  #e7f4f1;
  --service-color-darken:   #00a58b;
}

[data-service="transkribus-htr-pipeline"] {
  --service-color:          #607d8b;
  --service-color-lighten:  #cfd8dc;
  --service-color-darken:   #37474f;
}

[data-service="spacy-nlp-pipeline"] {
  --service-color:          #98acd2;
  --service-color-lighten:  #e5e8f5;
  --service-color-darken:   #0064a3;
}

[data-service="corpus-analysis"] {
  --service-color:          #aa9cc9;
  --service-color-lighten:  #ebe8f6;
  --service-color-darken:   #6b3f89;
}

.service-color {
  background-color: var(--service-color) !important;

  &.lighten {
    background-color: var(--service-color-lighten) !important;
  }

  &.darken {
    background-color: var(--service-color-darken) !important;
  }
}

.service-color-border {
  border-color: var(--service-color) !important;

  &.border-lighten {
    border-color: var(--service-color-lighten) !important;
  }

  &.border-darken {
    border-color: var(--service-color-darken) !important;
  }
}

.service-color-text {
  color: var(--service-color) !important;

  &.text-lighten {
    color: var(--service-color-lighten) !important;
  }

  &.text-darken {
    color: var(--service-color-darken) !important;
  }
}
