[data-service="file-setup-pipeline"] {
  --service-icon-content: "E";
}

[data-service="tesseract-ocr-pipeline"] {
  --service-icon-content: "F";
}

[data-service="transkribus-htr-pipeline"] {
  --service-icon-content: "F";
}

[data-service="spacy-nlp-pipeline"] {
  --service-icon-content: "G";
}

[data-service="corpus-analysis"] {
  --service-icon-content: "H";
}

.nopaque-icons {
  &.service-icons:empty::before {
    content: var(--service-icon-content);
  }
}
