/*
 * changes preloader size etc. to fit visually better with the chip status
 * indicator of jobs
 */
.status-spinner {
  margin-bottom: -10px;
  width: 30px !important;
  height: 30px !important;
}
