:root {
  --primary-color:        #00426f;
  --primary-color-light:  #006fbc;
  --primary-color-dark:   #001523;
  --secondary-color:      #00426f;  /* old value: #1a5c89 */
  --success-color:        #4caf50;
  --error-color:          #f44336;
  --link-color:           #039be5;
}

.primary-color {
  background-color: var(--primary-color) !important;
}

.primary-color-border {
  border-color: var(--primary-color) !important;
}

.primary-color-text {
  color: var(--primary-color) !important;
}

.primary-color.lighten {
  background-color: var(--primary-color-light) !important;
}

.primary-color-border.border-lighten {
  border-color: var(--primary-color-light) !important;
}

.primary-color-text.text-lighten {
  color: var(--primary-color-light) !important;
}

.primary-color.darken {
  background-color: var(--primary-color-dark) !important;
}

.primary-color-border.border-darken {
  border-color: var(--primary-color-dark) !important;
}

.primary-color-text.text-darken {
  color: var(--primary-color-dark) !important;
}

.secondary-color {
  background-color: var(--primary-color) !important;
}

.secondary-color-border {
  border-color: var(--primary-color) !important;
}

.secondary-color-text {
  color: var(--primary-color) !important;
}

.success-color {
  background-color: var(--success-color) !important;
}

.success-color-border {
  border-color: var(--success-color) !important;
}

.success-color-text {
  color: var(--success-color) !important;
}

.error-color {
  background-color: var(--error-color) !important;
}

.error-color-border {
  border-color: var(--error-color) !important;
}

.error-color-text {
  color: var(--error-color) !important;
}

.link-color {
  background-color: var(--link-color) !important;
}

.link-color-border {
  border-color: var(--link-color) !important;
}

.link-color-text {
  color: var(--link-color) !important;
}
