.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.clickable {
  cursor: pointer !important;
}

.fixed {
  position: fixed;
}

.show-if-only-child:not(:only-child) {
  display: none !important;
}

[draggable="true"] {
  cursor: move !important;
}
