<p>Dear <b>{{ job.user.username }}</b>,</p>

<p>The status of your Job "<b>{{ job.title }}</b>" has changed!</p>
<p>It is now <b>{{ job.status.name.lower() }}</b>!</p>

<p>You can access your Job here: <a href="{{ url_for('jobs.job', job_id=job.id) }}">{{ url_for('jobs.job', job_id=job.id) }}</a></p>

<p>Kind regards!<br>Your nopaque team</p>
