{% if current_user.is_authenticated %}
<ul class="dropdown-content" id="navbar-data-processing-and-analysis-dropdown-content">
  <li {% if request.path == url_for('services.file_setup_pipeline') %}class="active"{% endif %}>
    <a href="{{ url_for('services.file_setup_pipeline') }}">
      <i class="nopaque-icons service-icons service-color-text text-darken" data-service="file-setup-pipeline"></i>
      File Setup Pipeline
    </a>
  </li>
  <li {% if request.path == url_for('services.tesseract_ocr_pipeline') %}class="active"{% endif %}>
    <a href="{{ url_for('services.tesseract_ocr_pipeline') }}">
      <i class="nopaque-icons service-icons service-color-text text-darken" data-service="tesseract-ocr-pipeline"></i>
      Tesseract OCR Pipeline
    </a>
  </li>
  {% if config.NOPAQUE_TRANSKRIBUS_ENABLED %}
  <li {% if request.path == url_for('services.transkribus_htr_pipeline') %}class="active"{% endif %}>
    <a href="{{ url_for('services.transkribus_htr_pipeline') }}">
      <i class="nopaque-icons service-icons service-color-text text-darken" data-service="transkribus-htr-pipeline"></i>
      Transkribus HTR Pipeline
    </a>
  </li>
  {% endif %}
  <li {% if request.path == url_for('services.spacy_nlp_pipeline') %}class="active"{% endif %}>
    <a href="{{ url_for('services.spacy_nlp_pipeline') }}">
      <i class="nopaque-icons service-icons service-color-text text-darken" data-service="spacy-nlp-pipeline"></i>
      SpaCy NLP Pipeline
    </a>
  </li>
  <li class="divider" tabindex="-1"></li>
  <li {% if request.path == url_for('services.corpus_analysis') %}class="active"{% endif %}>
    <a href="{{ url_for('services.corpus_analysis') }}">
      <i class="nopaque-icons service-icons service-color-text text-darken" data-service="corpus-analysis"></i>
      Corpus Analyis
    </a>
  </li>
</ul>
{% endif %}

{% if current_user.is_authenticated %}
<ul class="dropdown-content" id="navbar-account-dropdown-content">
  <li {% if request.path == url_for('users.user', user_id=current_user.id) %}class="active"{% endif %}>
    <a href="{{ url_for('users.user', user_id=current_user.id) }}">
      <i class="material-icons">person</i>
      Your profile
    </a>
  </li>
  <li {% if request.path == url_for('settings.index') %}class="active"{% endif %}>
    <a href="{{ url_for('settings.index') }}">
      <i class="material-icons">settings</i>
      Settings
    </a>
  </li>
  <li>
    <a href="{{ url_for('auth.logout') }}">
      <i class="material-icons">logout</i>
      Log out
    </a>
  </li>
  {% if current_user.can('USE_API') or current_user.is_administrator %}
  <li class="divider" tabindex="-1"></li>
  {% endif %}
  {% if current_user.can('USE_API') %}
  <li>
    <a href="{{ url_for('apifairy.docs') }}">
      <i class="material-icons left">api</i>
      API
    </a>
  </li>
  {% endif %}
  {% if current_user.is_administrator %}
  <li>
    <a href="{{ url_for('admin.index') }}">
      <i class="material-icons left">admin_panel_settings</i>
      Administration
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
