<div class="container">
  <div class="row">
    <div class="col s12 l3">
      <h5 class="white-text">Legal Notice</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://www.uni-bielefeld.de/(en)/impressum/">Legal Notice</a></li>
        <li><a class="grey-text text-lighten-3" href="{{ url_for('main.privacy_policy') }}">Privacy statement (GDPR)</a></li>
        <li><a class="grey-text text-lighten-3" href="{{ url_for('main.terms_of_use') }}">Terms of use</a></li>
      </ul>
    </div>

    <div class="col s12 l3">
      <h5 class="white-text">More Resources</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="{{ url_for('main.faq') }}">Frequently asked questions</a></li>
        <li><a class="grey-text text-lighten-3" href="mailto:{{ config.NOPAQUE_SERVICE_DESK }}">Report an issue</a></li>
        <li><a class="grey-text text-lighten-3" href="https://gitlab.ub.uni-bielefeld.de/sfb1288inf/nopaque">GitLab (source code)</a></li>
      </ul>
    </div>

    <div class="col s12 l4">
      <h5 class="white-text">Who made this?</h5>
      <p class="grey-text text-lighten-4">
        This software is developed by the SFB 1288 INF project at Bielefeld University.
        Thanks to all the people who made nopaque possible.
        <span class="red-text">&hearts;</span>
      </p>
    </div>

    <div class="col s12 l2">
      <br class="hide-on-med-and-down">
      <br class="hide-on-med-and-down">
      <a href="https://www.dfg.de/">
        <img class="responsive-img" src="{{ url_for('static', filename='images/logo_-_dfg.gif') }}">
      </a>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="container">
    © 2024 Bielefeld University
    <a class="grey-text text-lighten-4 right" href="https://gitlab.ub.uni-bielefeld.de/sfb1288inf/nopaque/-/releases/{{ config.NOPAQUE_VERSION }}">Version {{ config.NOPAQUE_VERSION }}</a>
  </div>
</div>
