{% if current_user.is_authenticated and not current_user.terms_of_use_accepted %}
<div id="terms-of-use-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1 id="title">Terms of use</h1>
        </div>
        <div class="col s12">
          <div class="switch">
            <label>
              DE
              <input type="checkbox" id="terms-of-use-modal-switch">
              <span class="lever"></span>
              EN
            </label>
          </div>
          <br>
        </div>
        <div class="terms-of-use-modal-content hide">
          {% include "main/terms_of_use_en.html.j2" %}
        </div>
        <div class="terms-of-use-modal-content">
          {% include "main/terms_of_use_de.html.j2" %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span style="margin-right:20px;">I have taken note of the new GTC and agree to their validity in the context of my further use.</span>
    <a href="#!" class="modal-close waves-effect waves-green btn">Yes</a>
  </div>
</div>
{% endif %}
