<ul class="sidenav" id="sidenav">
  {% if current_user.is_authenticated %}
  {# user view #}
  <li>
    <div class="user-view">
      <div class="background primary-color"></div>
      <a><img class="circle" src="{{ url_for('users.user_avatar', user_id=current_user.id) }}" alt=""></a>
      <a><span class="white-text name">{{ current_user.username }}</span></a>
      <a><span class="white-text email">{{ current_user.email }}</span></a>
    </div>
  </li>
  {% endif %}

  {% if current_user.is_authenticated %}
  {# dashboard #}
  <li {% if request.path == url_for('main.dashboard') %}class="active"{% endif %}>
    <a class="waves-effect" href="{{ url_for('main.dashboard') }}"><i class="material-icons">dashboard</i>Dashboard</a>
  </li>

  {# contributions #}
  <li {% if request.path == url_for('contributions.index') %}class="active"{% endif %}>
    <a href="{{ url_for('contributions.index') }}">
      <i class="material-icons left">new_label</i>
      Contributions
    </a>
  </li>

  {# social #}
  <li {% if request.path == url_for('main.social') %}class="active"{% endif %}>
    <a class="waves-effect" href="{{ url_for('main.social') }}"><i class="material-icons">groups</i>Social</a>
  </li>
  {% endif %}

  {# news #}
  <li {% if request.path == url_for('main.news') %}class="active"{% endif %}>
    <a class="waves-effect" href="{{ url_for('main.news') }}"><i class="material-icons">newspaper</i>News</a>
  </li>

  {# manual #}
  <li {% if request.path == url_for('main.manual') %}class="active"{% endif %}>
    <a class="waves-effect" href="{{ url_for('main.manual') }}"><i class="material-icons">help_outline</i>Manual</a>
  </li>

  {% if current_user.is_authenticated %}
  {# data processing & analysis section #}
  <li><div class="divider"></div></li>
  <li><a class="subheader">Data Processing & Analysis</a></li>

  {# file setup pipeline #}
  <li class="service-color service-color-border border-darken" data-service="file-setup-pipeline" style="border-left: 10px solid;">
    <a class="waves-effect" href="{{ url_for('services.file_setup_pipeline') }}"><i class="nopaque-icons service-icons" data-service="file-setup-pipeline"></i>File setup</a>
  </li>

  {# tesseract ocr pipeline #}
  <li class="service-color service-color-border border-darken mt-1" data-service="tesseract-ocr-pipeline" style="border-left: 10px solid;">
    <a class="waves-effect" href="{{ url_for('services.tesseract_ocr_pipeline') }}"><i class="nopaque-icons service-icons" data-service="tesseract-ocr-pipeline"></i>OCR</a>
  </li>

  {% if config.NOPAQUE_TRANSKRIBUS_ENABLED %}
  {# transkribus htr pipeline #}
  <li class="service-color service-color-border border-darken mt-1" data-service="transkribus-htr-pipeline" style="border-left: 10px solid;">
    <a class="waves-effect" href="{{ url_for('services.transkribus_htr_pipeline') }}"><i class="nopaque-icons service-icons" data-service="transkribus-htr-pipeline"></i>HTR</a>
  </li>
  {% endif %}

  {# spacy nlp pipeline #}
  <li class="service-color service-color-border border-darken mt-1" data-service="spacy-nlp-pipeline" style="border-left: 10px solid;">
    <a class="waves-effect" href="{{ url_for('services.spacy_nlp_pipeline') }}"><i class="nopaque-icons service-icons" data-service="spacy-nlp-pipeline"></i>NLP</a>
  </li>

  {# corpus analysis #}
  <li class="service-color service-color-border border-darken mt-1" data-service="corpus-analysis" style="border-left: 10px solid;">
    <a class="waves-effect" href="{{ url_for('services.corpus_analysis') }}"><i class="nopaque-icons service-icons" data-service="corpus-analysis"></i>Corpus Analysis</a>
  </li>
  {% endif %}

  {# account section #}
  <li><div class="divider"></div></li>
  <li><a class="subheader">Account</a></li>

  {% if current_user.is_authenticated %}
  {# my profile #}
  <li {% if request.path == url_for('users.user', user_id=current_user.id) %}class="active"{% endif %}>
    <a href="{{ url_for('users.user', user_id=current_user.id) }}"><i class="material-icons">person</i>My Profile</a>
  </li>

  {# settings #}
  <li {% if request.path == url_for('settings.index') %}class="active"{% endif %}>
    <a class="waves-effect" href="{{ url_for('settings.index') }}"><i class="material-icons">settings</i>Settings</a>
  </li>

  {# log out #}
  <li>
    <a class="waves-effect" href="{{ url_for('auth.logout') }}"><i class="material-icons">logout</i>Log out</a>
  </li>
  {% else %}
  {# log in #}
  <li {% if request.path == url_for('auth.login') %}class="active"{% endif %}>
    <a href="{{ url_for('auth.login') }}">Log in</a>
  </li>

  {# register #}
  <li {% if request.path == url_for('auth.register') %}class="active"{% endif %}>
    <a href="{{ url_for('auth.register') }}" class="btn waves-effect waves-light">Register</a>
  </li>
  {% endif %}

  {% if current_user.can('USE_API') or current_user.is_administrator %}
  <li><div class="divider"></div></li>
  {% endif %}

  {% if current_user.can('USE_API') %}
  {# API #}
  <li>
    <a class="waves-effect" href="{{ url_for('apifairy.docs') }}"><i class="material-icons">api</i>API</a>
  </li>
  {% endif %}

  {% if current_user.is_administrator %}
  {# Administration #}
  <li>
    <a class="waves-effect" href="{{ url_for('admin.index') }}"><i class="material-icons">admin_panel_settings</i>Administration</a>
  </li>
  {% endif %}
</ul>
