<link href="{{ url_for('static', filename='external/material-design-icons/css/material-icons.css') }}" rel="stylesheet">
{% assets
    output='gen/nopaque.%(version)s.css',
    'css/materialize.css',
    'css/materialize.override.css',
    'css/nopaque-icons.css',
    'css/theme-colors.css',
    'css/corpus-status-colors.css',
    'css/corpus-status-text.css',
    'css/height.css',
    'css/job-status-colors.css',
    'css/job-status-text.css',
    'css/service-colors.css',
    'css/pagination.css',
    'css/service-icons.css',
    'css/s-attr-colors.css',
    'css/spacing.css',
    'css/status-spinner.css',
    'css/utils.css',
    'css/width.css'
%}
<link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
