Dear {{ user.username }},

to reset your password click on the following link:

{{ url_for('auth.reset_password', token=token, _external=True) }}

If you have not requested a password reset simply ignore this message.

Sincerely,

The nopaque Team

Note: replies to this email address are not monitored.
