{% extends "base.html.j2" %}
{% import "wtf.html.j2" as wtf %}

{% block main_attribs %} class="service-scheme" data-service="spacy-nlp-pipeline"{% endblock main_attribs %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">{{ title }}</h1>
    </div>

    <div class="col s12">
      <div class="card">
        <form method="POST">
          <div class="card-content">
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col s12 l7">
                {{ wtf.render_field(form.title, material_icon='title') }}
              </div>
              <div class="col s12">
                {{ wtf.render_field(form.description, material_icon='description') }}
              </div>
              <div class="col s12">
                {{ wtf.render_field(form.pipeline_name, material_icon='emoji_objects') }}
              </div>
              <div class="col s12 l6">
                {{ wtf.render_field(form.publisher, material_icon='account_balance') }}
              </div>
              <div class="col s12 l6">
                {{ wtf.render_field(form.publishing_year, material_icon='calendar_month') }}
              </div>
              <div class="col s12">
                {{ wtf.render_field(form.publisher_url, material_icon='link') }}
              </div>
              <div class="col s12">
                {{ wtf.render_field(form.publishing_url, material_icon='link') }}
              </div>
              <div class="col s12 l10">
                {{ wtf.render_field(form.version, material_icon='apps') }}
              </div>
              <div class="col s12 l6">
                {{ wtf.render_field(form.compatible_service_versions) }}
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {{ wtf.render_field(form.submit, material_icon='send') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
