{% if title is not defined %}
  {% set title = 'nopaque' %}
{% endif %}

{% block doc %}
<!DOCTYPE html>
<html {% block html_attributes %}lang="en"{% endblock html_attributes %}>
  {% block html %}
  <head {% block head_attributes %}{% endblock head_attributes %}>
    {% block head %}
    {% block metas %}
    {% include '_base/metas.html.j2' %}
    {% endblock metas %}

    <title {% block title_attribs %}{% endblock title_attribs %}>
      {% block title %}
      {{ title }}
      {% endblock title %}
    </title>

    {% block icons %}
    {% include '_base/icons.html.j2' %}
    {% endblock icons %}

    {% block styles %}
    {% include '_base/stylesheets.html.j2' %}
    {% endblock styles %}
    {% endblock head %}
  </head>
  <body {% block body_attributes %}{% endblock body_attributes %}>
    {% block body %}
    <header {% block header_attributes %}{% endblock header_attributes %}>
      {% block header %}
      {% block navbar %}
      {% include '_base/navbar.html.j2' %}
      {% endblock navbar %}

      {% block sidenav %}
      {% include '_base/sidenav.html.j2' %}
      {% endblock sidenav %}
      {% endblock header %}
    </header>

    <main {% block main_attributes %}{% endblock main_attributes %}>
      {% block main %}
      {% block page_content %}{% endblock page_content %}
      {% endblock main %}
    </main>

    <footer {% block footer_attributes %}class="page-footer"{% endblock footer_attributes %}>
      {% block footer %}
      {% include '_base/footer.html.j2' %}
      {% endblock footer %}
    </footer>

    <div {% block dropdowns_attributes %}id="dropdowns"{% endblock dropdowns_attributes %}>
      {% block dropdowns %}
      {% include '_base/dropdowns.html.j2' %}
      {% endblock dropdowns %}
    </div>

    <div {% block modals_attributes %}id="modals"{% endblock modals_attributes %}>
      {% block modals %}
      {% include '_base/modals.html.j2' %}
      {% endblock modals %}
    </div>

    {% block scripts %}
    {% include '_base/scripts.html.j2' %}
    {% endblock scripts %}
    {% endblock body %}
  </body>
  {% endblock html %}
</html>
{% endblock doc %}
